@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.wrap {
    position: relative;
    margin: 0 auto;
    width: 1024px;

    height: 768px;
    background: url(../images/bg.png) no-repeat 0 0;
    background-size: 100%;
}
/* title */
.title {
    position: absolute;
    left: 165px;
    top: 135px;
    opacity: 0;
    transform: translateY(40px);
}

.graph1 {
    position: absolute;
    left: 167px;
    top: 235px;
    width: 0;
    overflow: hidden;
}

/* cont */
ul.data_wrap {
    position: absolute;
    top: 360px;
    left: 150px;
    width: 730px;
    height: 210px;
    display: flex;
}
ul.data_wrap li {
    width: 50%;
}
.data {
    width: 200px;
    height: 200px;
}

.data1 {
    background: url(../images/btn1_off.png) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
}
.data1.on {
    background: url(../images/btn1_on.png) no-repeat 50% 50%;
    background-size: contain;
}
.data2 {
    background: url(../images/btn2_off.png) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
}
.data2.on {
    background: url(../images/btn2_on.png) no-repeat 50% 50%;
    background-size: contain;
}

/* a.next {
    position: absolute;
    right: 100px;
    bottom: 100px;
    width: 60px;
    height: 60px;
    border: 1px solid red;
} */

/* nav*/
.nav {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 110px;
    height: 60px;
    display: flex;
}
.nav li {
    width: 50%;
}
