@charset "utf-8";

body,html {
    /* margin: 0 auto 화면 중앙 배치 */
    position: relative;
    width: 100%;
    height: 100%;
    max-width:1152px;
    max-height:768px;
    margin: 0 auto;
    overflow: hidden;
    } 
.wrap{position:relative; max-width: 1152px; max-height: 768px; margin: 0 auto; text-align: center;}
img{max-width: 1152px;}
.absolute{position: absolute; top: 0; left: 0;}
.guide{opacity: 0.4; z-index: 99; position: absolute; top: 0; left: 0;}
.popup{position: absolute; top: 0; left: 0; display: none; z-index: 10;background: rgba(0,0,0,0.4);}
.studyButton{position: absolute; top: 672px; right:95px;z-index: 9}
.studyButton img{width: 118px;}
.home{position: absolute; top: 400px; left: 0; width: 230px; height: 360px; z-index: 9;}

.left1{position: absolute; top: 373px;left: 351px; width: 39px; height: 235px; overflow: hidden; transform: translateY(-62px); transition: transform 0.7s;}
.left1 img{width: 39px; position: absolute; bottom: 0; left: 0;}
.left2{position: absolute; top: 385px;left: 468px; width: 39px; height: 222px; overflow: hidden; transform: translateY(-74px);transition: transform 0.7s;}
.left2 img{width: 39px; position: absolute; bottom: 0; left: 0;}

.left-graph1{position: absolute; left: 351px; width: 39px; transform: scale(1,0); transition: transform 0.7s;}
.lg1{top: 343px;}
.lg2{top: 327px;}
.lg3{top: 312px;}
.left-graph2{position: absolute; left: 468px; width: 39px;transform: scale(1,0); transition: transform 0.7s;}
.rg1{top: 347px}
.rg2{top: 328px;}
.rg3{top: 311px;}
.scale{transform: scale(1,1)}
.right-graph{position: absolute; top: 311px; left: 815px; height: 0; overflow: hidden;}
.right-graph img{width: 27px;height: 191px; }
.right-graph-num{display: none;}

.translate{ transform: translateY(0);}