/*폰트*/

@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');


/*리셋*/
body,h1,h2,h3,h4,p,div,ul,li,dl,dt,dd,table,td,tr,img{margin:0; padding:0;}
ul,li{list-style:none}
a{text-decoration: none; color:white}
body, button, input{font-family: 'Nanum Myeongjo', serif;; line-height:1.5;
    letter-spacing: -1px; direction: ltr; color:#e4e4e4;}
button{cursor: pointer;}
html, body{height:100%; width:100%;}
body{overflow-y: hidden; overflow-x:hidden;}



/*@@@@@@@@@@@@@@PC@@@@@@@@@@@@@@@*/

@media screen and (min-width:992px){
   
    body, button, input, a{font-size:14pt;}
    
/*페이지필링*/

    
#pp-nav span,
.pp-slidesNav span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
    #pp-nav li,
.pp-slidesNav li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
    
    #pp-nav.right {
    right: 17px;
    top:86%;
}
    

/*바디*/

.page2{background-color: #76171c}
.page3{background-color: #76171c}
.page4{background-color: #76171c}
.page5{background-color: #76171c; height:100%;}
.reserve{position:fixed; z-index:50; background: url(../images/fix_reserve.png) no-repeat; width:67px; height: 66px; right:0.5%; top:3%; border:none; background-size:80%}
.reserve_txt{width:0%; overflow:hidden; display:block; font-size:1rem; position:absolute; top:90%; right:10%; transition:all 1s; height:30%; white-space: nowrap; text-overflow: clip;}
.reserve:hover .reserve_txt{width:100%;}

/*스크롤*/
.scrolldown{background:url(../images/fix_scroll.png) no-repeat; width:6%; height:5%; border:none; background-size:100%; position:absolute; bottom:2%; text-indent: -9999px; z-index:5; left:46.8%;}
.scrollup{background: url(../images/m5_fisrtpage.png) no-repeat; width:6%; height:5%; border:none; background-size:100%; position:absolute; bottom:2%; text-indent: -9999px; left:46.8%; z-index: 5;}



/*1페이지*/

.page1{background:url("../images/m1_bg.jpg") no-repeat 50% 52%; background-size:100%; z-index:1;}
.smart_search{width:22%; height:12%; display: block; margin:auto; margin-top:8%; color:#e6e6e6; background:rgba(0,0,0,0); font-size:1.5em; border:2px solid #e6e6e6; font-weight:bold; z-index:5; display:block; transition:all 0.3s; position:relative; box-sizing:border-box;}
.smart_search:hover{color:#f1c76a;}
.smart_top{width:0px; height:5px; position:absolute; top:0; left:0; background: #f1c76a; transition:all 0.5s; }
.smart_search:hover .smart_top{width:100%;}
.smart_right{width:5px; height:0px; position:absolute; top:0; right:0; background: #f1c76a; transition:all 0.3s;}
.smart_search:hover .smart_right{height:100%; transition-delay:0.5s;}
.smart_bottom{width:0px; height:5px; position:absolute; bottom:0; right:0; background: #f1c76a; transition:all 0.5s;}
.smart_search:hover .smart_bottom{width:100%; transition-delay:0.8s}
.smart_left{width:5px; height:0px; position:absolute; left:0; bottom:0; background: #f1c76a; transition:all 0.3s;}
.smart_search:hover .smart_left{height:100%; transition-delay:1.3s}

.menu{background: url(../images/m1_menu.png) no-repeat; width:800px; height: 186px; background-size:100%; margin: auto; position:relative; margin-top:2%}
.menu li{font-size:1.5rem; position:absolute;}
.menu1{left:-35px; bottom:5%;}
.menu2{left:220px; top:-40px}
.menu3{left:320px; bottom:50px;}
.menu4{right:130px; top:135px;}
.menu5{right:-20px; top:2px}
.page1 h1{background: url(../images/m1_logo.png) no-repeat; width:12%; height: 10%; background-size:100%; text-indent: -9999px; position:absolute; top:2%; left:45%;}

.spot1{background:white; width:20px; height:20px; border-radius:10px; position:absolute; top:104px; left:8px;}
.spot1h{background:#f1c76a; width:20px; height:20px; border-radius:10px; position:absolute; top:104px; left:8px; display:none;}
.spot2{background:white; width:20px; height:20px; border-radius:10px; position:absolute; top:2.5px; left:253px;}
.spot2h{background:#f1c76a; width:20px; height:20px; border-radius:10px; position:absolute; top:2.5px; left:253px; display:none;}
.spot3{background:white; width:20px; height:20px; border-radius:10px; position:absolute; top:68px; left:353px;}
.spot3h{background:#f1c76a; width:20px; height:20px; border-radius:10px; position:absolute; top:68px; left:353px; display:none;}
.spot4{background:white; width:20px; height:20px; border-radius:10px; position:absolute; top:110px; left:602px;}
.spot4h{background:#f1c76a; width:20px; height:20px; border-radius:10px; position:absolute; top:110px; left:602px; display:none;}
.spot5{background:white; width:20px; height:20px; border-radius:10px; position:absolute; top:39px; left:772px;}
.spot5h{background:#f1c76a; width:20px; height:20px; border-radius:10px; position:absolute; top:39px; left:772px; display:none;}

.menu a{transition:all 0.3s;}
.menu a:hover{color:#f1c76a;}
    
/*스마트서치*/

    .smart_page{width:80%; height:80%; position:absolute; top:10%; left:10%; z-index:10; background-color:rgba(0,0,0,0.8); color:white; display:none;}
    .q1{ margin-top:15%; width:100%; height:85%; width:100%; }
    .q1 h3{text-align: center; font-size:2rem;}
    .smart_page h3 span{color:#f1c76a;}
    .q1 button{border-style: none; width:200px; height:200px; border-radius:100px; font-size:3rem; background-color:rgba(0,0,0,0); border:3px solid white; position:absolute; transition:0.5s all;}
    .q1_y{left:30%; top:45%}
    .q1_n{right:30%; top:45%;}
    .q1 button:hover{border:3px solid #f1c76a; color:#f1c76a;}
    

    .q2{top:12%; height:88%; position:absolute; width:100%; display:none;}
    .q2 h3{text-align: center; font-size:2rem;}
.q2 button{width:20%; height:40%; background-color: rgba(0,0,0,0); border-style: none; padding:0; font-size:1.5rem; font-weight:bold;}
.q2 button img{border-radius:20px;}
.yaki{position:absolute; left:25%; top:15%}
.sashimi{position:absolute; right:25%; top:15%}
.dinner{position:absolute; left:25%; top:55%}
.desert{position:absolute; right:25%; top:55%;}
.q2 button:hover{color:#f1c76a;}

.q3_yaki{position:absolute; top:20%; height:80%; width:100%; display:none;}
    .q3_yaki h3{text-align: center; font-size:2rem;}
    .q3_yaki button{width:200px; height:200px; border-radius:100px; font-size:2rem; background-color:rgba(0,0,0,0);  position:absolute; transition:0.5s all; border:3px solid white;}
.hanwoo{left:30%; top:30%;}
    .angus{right:30%; top:30%;}
.hanwoo:hover{border:3px solid #73171c; color:#73171c;}
    .angus:hover{border:3px solid #454444; color:#454444;}

.q3_sashimi{position:absolute; top:20%; height:80%; width:100%; display:none;}
.q3_sashimi h3{text-align: center; font-size:2rem;}
.q3_sashimi button{width:200px; height:200px; border-radius:100px; font-size:2rem; background-color:rgba(0,0,0,0);  position:absolute; transition:0.5s all; border:3px solid white;}
.salmon{left:20%; top:30%;}
.tartar{left:40%; top:30%;}
.tuna{left:60%; top:30%}
.salmon:hover{border:3px solid salmon; color:salmon;}
.tartar:hover{border:3px solid #73171c; color:#73171c;}
.tuna:hover{border:3px solid #f1c76a; color:#f1c76a;}

.q3_dinner{position:absolute; top:20%; height:80%; width:100%; display:none;}
.q3_dinner h3{text-align: center; font-size:2rem;}
.q3_dinner button{width:200px; height:200px; border-radius:100px; font-size:2rem; background-color:rgba(0,0,0,0);  position:absolute; transition:0.5s all; border:3px solid white;}
.denfura{left:20%; top:30%;}
.noodle{left:40%; top:30%;}
.soup{left:60%; top:30%}
.denfura:hover{border:3px solid #f1c76a; color:#f1c76a;}
.noodle:hover{border:3px solid orangered ; color:orangered;}
.soup:hover{border:3px solid #73171c; color:#73171c;}

.a3_desert{position:absolute; width:100%; height:100%; display:none;}
.a3_desert dl{float:left; display:block; width:30%; margin:15% 10%;}
.a3_desert dd img{width:100%; height:auto; border-radius:30px;}
.a3_desert dt{font-size:2rem; margin-bottom:2%;}
.a3_desert dd{width:100%;}
.a3_desert h3{text-align:center; font-size:2rem; position:absolute; width:100%; top:10%;}

.a4_hanwoo{position:absolute; width:100%; height:100%; display:none;}
.a4_hanwoo h3{text-align: center; font-size:2rem; position:absolute; width:100%;top:10%}
.a4_hanwoo img{width:90%; position:absolute; top:18%; left:5%}
.a4_hanwoo p{font-size:2.5rem; position:absolute; bottom:4%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}

.a4_angus{position:absolute; width:100%; height:100%; display:none;}
.a4_angus h3{text-align: center; font-size:2rem; position:absolute; width:100%;top:10%}
.a4_angus img{width:90%; position:absolute; top:18%; left:5%}
.a4_angus p{font-size:2.5rem; position:absolute; bottom:4%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}

.a4_salmon{position:absolute; width:100%; height:100%; display:none;}
.a4_salmon h3{text-align: center; font-size:2rem; position:absolute; width:100%;top:10%}
.a4_salmon img{width:70%; position:absolute; top:22%; left:15%}
.a4_salmon p{font-size:2.5rem; position:absolute; bottom:4%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}

.a4_tartar{position:absolute; width:100%; height:100%; display:none;}
.a4_tartar h3{text-align: center; font-size:2rem; position:absolute; width:100%;top:10%}
.a4_tartar img{width:70%; position:absolute; top:22%; left:15%}
.a4_tartar p{font-size:2.5rem; position:absolute; bottom:4%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}

.a4_tuna{position:absolute; width:100%; height:100%; display:none;}
.a4_tuna h3{text-align: center; font-size:2rem; position:absolute; width:100%;top:10%}
.a4_tuna img{width:80%; position:absolute; top:22%; left:10%}
.a4_tuna p{font-size:2.5rem; position:absolute; bottom:4%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}

.a4_pasta{position:absolute; width:100%; height:100%; display:none;}
.a4_pasta h3{text-align: center; font-size:2rem; position:absolute; width:100%;top:10%}
.a4_pasta img{width:80%; position:absolute; top:22%; left:10%}
.a4_pasta p{font-size:2.5rem; position:absolute; bottom:4%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}

.a4_denfura{position:absolute; width:100%; height:100%; display:none;}
.a4_denfura h3{text-align: center; font-size:2rem; position:absolute; width:100%;top:10%}
.a4_denfura img{width:75%; position:absolute; top:22%; left:12.5%}
.a4_denfura p{font-size:2.5rem; position:absolute; bottom:4%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}


.a4_soup{position:absolute; width:100%; height:100%; display:none;}
.a4_soup h3{text-align: center; font-size:2rem; position:absolute; width:100%;top:10%}
.a4_soup img{width:75%; position:absolute; top:22%; left:12.5%}
.a4_soup p{font-size:2.5rem; position:absolute; bottom:4%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}

.a1_no{position:absolute; width:100%; height:100%; display:none;}
.a1_no h3{text-align: center; font-size:2rem; position:absolute; width:100%;top:10%}
.a1_no img{width:90%; position:absolute; top:15%; left:5%}


.smart_exit{text-indent:-9999px; position:absolute; background:url(../images/m5_exit.png) no-repeat; width:30px; height:30px; background-size:100%; border-style:none; right:2%; top:3%; opacity:1}

/*2페이지*/

.m2_img{background: url(../images/m2_img.jpg) 56% 75% no-repeat; width:66.6%; height:100%; background-size:175%; float:left;}
.m2_logo{width:30%; height:auto; margin:7% 10% 10% 10%; transition:all 1s; opacity:0;}
.active .m2_logo{opacity:1; margin-top:5%; transition-delay: 0.5s;}
.m2_right{position:relative; width:33.4%; height:100%; float:left;}
.m2_spring{display: block; margin-left:5%; color:#e4e4e4; margin-top:-8%; font-size:1.8em; font-weight: bold;} 
.m2_slash{margin-left:10%; height:3px; width:6%; border-bottom:2px solid #e4e4e4; margin-top:3%}
.m2_txt{font-size:1em; margin-top:5%; margin-left:10%; margin-right:12%}
.m2_txtbox{width:100%; transition:all 1s; opacity:0; margin-top:4%; height:100px;}
.active .m2_txtbox{transition-delay:1s; opacity:1; margin-top:2%;}
.m2_txt span{color:#f1c76a}
.brand{position:absolute; font-size:1em; right:0.5%; bottom:7.8%; line-height:1.1; font-weight: normal; font-family: sans-serif; z-index:6; text-align: center;}
.line{position:absolute; width:1px; height:7.4%; border-right:1px solid #e4e4e4; bottom:0; right:1%; z-index:10}


/*3페이지*/

.m3_menu{width:100%; height:70%; margin-top:-2%;}
.m3_left{width:33.333%; height:50%; float:left; }
.m3_wine{width:33.333%; height:50%; float:right; }
.m3_txt{position:absolute; top:51%; left:34.5%; width:31%;}
.m3_txt_dt{font-size:1.5em; font-weight: bold; transition:all 1s; margin-top:5%; opacity:0;}
.active .m3_txt_dt{opacity:1; margin-top:0%; transition-delay: 0.5s;}

.m3_txt dt span{border-bottom:2px solid #e4e4e4; width:8%; height: 2px; display: block; margin-top:2%}
.m3_txt_dd{margin-top:10%; opacity:0; transition:all 1s;}
.active .m3_txt_dd{transition-delay:1s; opacity:1; margin-top:5%;}
.m3_txt dd span{color:#f1c76a}

.m3_menu li{position:relative; overflow: hidden;}
.m3_menu li a img{z-index:2; width:130%; height:auto; position:absolute; top:-10%; left:-10%}
.m3_name{position:absolute; z-index:5; font-size:1.8em; top:45%; text-align: center; width:100%; font-weight:bold;}
.blackbox{position:absolute; width:100%; height:100%; background:black; z-index: 4; opacity:0.5;}


/*4페이지*/

.m4_address{height:15%; margin-left:2%; width:100%; position:absolute; top:10%;}
.m4_address p{float:left;}
.address_txt{background:url(../images/m4_location.png) 0px 0px no-repeat; background-size:4.5%; text-indent:25px; width:23%; height:100%;}
.tel_txt{background: url(../images/m4_tel.png) 1px 3px no-repeat; background-size:5%; text-indent:25px; width:23%; height: 100%;}
.m4_map{width:100%; height:60%; position:absolute; top:14%;}
.m4_map iframe{width:100%; height:100%;}
.m4_how_come{position:absolute; top:76%; margin-left:2%;}
.m4_how_come h3{position:relative; font-size:1.2em;}
.m4_dot{display: inline-block; width:20px; height:20px; background: #e4e4e4; border-radius:20px; margin-right:8px; margin-top:1px; position:absolute; top:2px;}
.m4_how_txt{text-indent:25px; display: inline-block;}
.m4_how_come p{font-size:0.8em;}



/*5페이지*/


.pics{width:49%; height:51%; float:right; margin-bottom:10%; position:relative;}
.first_pics{position:absolute; width:100%; height: 100%;}
.first_pics ul li{overflow: hidden; width:32%; float:left; margin-bottom:1%; position:relative;}
.first_pics ul li:nth-child(2) {margin:0 2%}
.page5 iframe{width:49%; height:400px; margin:0; border:none;}
    
.second_pics{position:absolute; width:100%; height: 100%; display:none;}
.second_pics ul li{width:32%; height:30%; float:left; overflow: hidden; margin-bottom:1%; position:relative;}
.second_pics ul li:nth-child(2) {margin:0 2%}

.pics img{width:100%; cursor: pointer; overflow: hidden;}
.bigger{width:100%; position:absolute; height:57%; background:black; color:white; text-align: center; padding-top:27%; font-size:1.5rem; font-family: sans-serif; opacity:0; cursor:pointer; transition:all 0.3s;}
.bigger:hover{opacity:0.8;}

.m5_prev{background: url(../images/m5_prev.png) no-repeat; position:absolute; left:0; bottom: 0; width:10%; height:11%; background-size: 100%; text-indent:-9999px; border-style: none;}
.m5_next{background: url(../images/m5_next.png) no-repeat; position:absolute; right:0; bottom:0; width:10%; height:11%; background-size: 100%; text-indent:-9999px; border-style: none;}
.big_pics{position:absolute; z-index:12; width:70%; height:auto; top:5%; left:15%;}
.big_pics ul{position:relative;}
.big_pics li{position:absolute; display:none; border:1px solid #e4e4e4;}
.big_pics img{width:100%; height:100%; z-index:15}
.m5_exit{background: url(../images/m5_exit.png) no-repeat; width:30px; height: 30px; background-size:100%; position:absolute; right:15px; top:15px; z-index:30; cursor: pointer; display:none; opacity:0.6}


.footer{width:100%; height: 25%; background-color:black; position:absolute; bottom:0; z-index:1;}
.footer li{float:left; margin:0 4%; width:22%;}
.footer dt{font-size:1.4em; margin-top:6%; margin-bottom:2%;}
.footer dd{font-family: sans-serif; font-weight:lighter; font-size:0.9em; letter-spacing:0px; line-height:1.5;}
.f_line{width:22%; display:inline-block; border-right:1px solid #e4e4e4;}
.f_right{margin-left:5%;}
.footer p{font-family: sans-serif; font-weight: lighter; position:absolute; bottom:1%; right:3%; font-size:0.8em;}
    
    
}


 /* 모바일: width: 991px 미만 */
@media screen and (max-width :991px){
    body, button, input, a{font-size:7pt;}
    
/*페이지필링*/
    
    #pp-nav span,
.pp-slidesNav span {
    display:none;
}
    #pp-nav li,
.pp-slidesNav li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 5px;
    position:relative;
    float:left;
}
    
    #pp-nav.right {
    right:20px;
    top:92%;
}
    
    
    
/*바디*/
    body{position:relative;}

.page2{background-color: #76171c}
.page3{background-color: #76171c}
.page4{background-color: #76171c}
.page5{background-color: #76171c;}
.reserve{position:fixed; z-index:50; background: url(../images/fix_reserve.png) no-repeat; width:15%; height:15%; right:3%; top:3%; border:none; background-size:100%}
.reserve_txt{display:none;}


/*스크롤*/
.scrolldown{background:url(../images/fix_scroll.png) no-repeat; width:20%; height:5%; border:none; background-size:100%; position:absolute; bottom:2%; text-indent: -9999px; z-index:5; left:40%;}
.scrollup{background: url(../images/m5_fisrtpage.png) no-repeat; width:20%; height:5%; border:none; background-size:100%; position:absolute; bottom:25%; text-indent: -9999px; left:40%; z-index: 5;}



/*1페이지*/

.page1{background:url("../images/m1_bg.jpg") no-repeat 50% 82%; background-size:130%; z-index:1;}
.smart_search{width:50%; height:10%; display: block; margin:auto; margin-top:15%; color:#e6e6e6; background:rgba(0,0,0,0); font-size:1.5rem; border:2px solid #e6e6e6; font-weight:bold; z-index:5; display:block; transition:all 0.3s; position:relative; box-sizing:border-box;}


.menu{width:2px; height:320px; position:relative; border-right:2px solid #e6e6e6; clear:both; margin-left:50%}
.menu li{font-size:1rem; position:absolute; width:150px}
.menu li a{font-size:1.1rem;}
.menu1{left:-100px; top:0;}
    .menu2{left:20px; top:80px}
.menu3{left:-90px; top:160px;}
.menu4{left:20px; top:240px;}
.menu5{left:-90px; top:320px}
.page1 h1{background: url(../images/m1_logo.png) no-repeat; width:35%; height: 10%; background-size:100%; text-indent: -9999px; position:absolute; top:2%; left:35%;}


.spots{width:100%; position:relative;}
.spot1{background:#e6e6e6; width:20px; height:20px; border-radius:10px; position:absolute; top:0px; left:-7px}
.spot2{background:#e6e6e6; width:20px; height:20px; border-radius:10px; position:absolute; top:80px; left:-7px}
.spot3{background:#e6e6e6; width:20px; height:20px; border-radius:10px; position:absolute; top:160px; left:-7px}
.spot4{background:#e6e6e6; width:20px; height:20px; border-radius:10px; position:absolute; top:240px; left:-7px}
.spot5{background:#e6e6e6; width:20px; height:20px; border-radius:10px; position:absolute; top:320px; left:-7px}


    
.spot1h{background:#e6e6e6; width:20px; height:20px; border-radius:10px; position:absolute; top:0px; left:-7px}
.spot2h{background:#e6e6e6; width:20px; height:20px; border-radius:10px; position:absolute; top:80px; left:-7px}
.spot3h{background:#e6e6e6; width:20px; height:20px; border-radius:10px; position:absolute; top:160px; left:-7px}
.spot4h{background:#e6e6e6; width:20px; height:20px; border-radius:10px; position:absolute; top:240px; left:-7px}
.spot5h{background:#e6e6e6; width:20px; height:20px; border-radius:10px; position:absolute; top:320px; left:-7px}

   
/*스마트서치*/

    .smart_page{width:100%; height:75%; position:absolute; top:15%; z-index:10; background-color:rgba(0,0,0,0.8); color:white; display:none;}
    .smart_page div{position:absolute;}
    .q1{ margin-top:15%; width:100%; height:85%; width:100%; }
    .q1 h3{text-align: center; font-size:1.5rem;}
    .smart_page h3 span{color:#f1c76a;}
    .q1 button{border-style: none; width:60%; height:20%; border-radius:100px; font-size:3rem; background-color:rgba(0,0,0,0); border:3px solid white; position:absolute; transition:0.5s all;}
    .q1_y{left:20%; top:30%}
    .q1_n{left:20%; top:60%;}
    

    .q2{top:12%; height:88%; position:absolute; width:100%; display:none;}
    .q2 h3{text-align: center; font-size:1.5rem;}
.q2 button{width:40%; height:40%; background-color: rgba(0,0,0,0); border-style: none; padding:0; font-size:1.5rem; font-weight:bold;}
.q2 button img{border-radius:20px;}
.yaki{position:absolute; left:5%; top:15%}
.sashimi{position:absolute; right:5%; top:15%}
.dinner{position:absolute; left:5%; top:55%}
.desert{position:absolute; right:5%; top:55%;}


.q3_yaki{position:absolute; top:20%; height:80%; width:100%; display:none;}
    .q3_yaki h3{text-align: center; font-size:1.8rem; width:90%; margin: auto;}
    .q3_yaki button{border-style: none; width:60%; height:20%; border-radius:100px; font-size:1.5rem; background-color:rgba(0,0,0,0); border:3px solid white; position:absolute; transition:0.5s all;}
.hanwoo{left:20%; top:30%;}
    .angus{left:20%; top:60%;}


.q3_sashimi{position:absolute; top:15%; height:80%; width:100%; display:none;}
.q3_sashimi h3{text-align: center; font-size:1.5rem;}
.q3_sashimi button{border-style: none; width:60%; height:20%; border-radius:100px; font-size:1.5rem; background-color:rgba(0,0,0,0); border:3px solid white; position:absolute; transition:0.5s all;}
.salmon{left:20%; top:20%;}
.tartar{left:20%; top:50%;}
.tuna{left:20%; top:80%}


.q3_dinner{position:absolute; top:15%; height:80%; width:100%; display:none;}
.q3_dinner h3{text-align: center; font-size:1.5rem;}
.q3_dinner button{border-style: none; width:60%; height:20%; border-radius:100px; font-size:1.5rem; background-color:rgba(0,0,0,0); border:3px solid white; position:absolute; transition:0.5s all;;}
.denfura{left:20%; top:20%;}
.noodle{left:20%; top:50%;}
.soup{left:20%; top:80%}


.a3_desert{position:absolute; width:100%; height:100%; display:none;}
.a3_desert dl{display:block; width:60%; margin:0 20%; height:20%}
.a3_desert dd img{width:100%; height:auto; border-radius:30px;}
.a3_desert dt{font-size:1.5rem; margin-bottom:2%;}
.a3_desert dd{width:100%;}
.a3_desert h3{text-align:center; font-size:1.3rem; position:absolute; width:90%; top:10%; left:5%;}
.smart_txt{display:none;}
.mozzi_dl{position:absolute; top:20%}
.kuro_dl{position:absolute; top:60%}


.a4_hanwoo{position:absolute; width:100%; height:100%; display:none;}
.a4_hanwoo h3{text-align: center; font-size:1.2rem; position:absolute; width:70%; top:2%; left:15%}
.a4_hanwoo img{display:none;}
.a4_hanwoo p{font-size:2rem; position:absolute; bottom:1%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}
    .a4_hanwoo .m{background: url(../images/m_hanwoo_img.png) no-repeat; width:100%; height:90%; background-size:100%; position:absolute; top:11%;}

.a4_angus{position:absolute; width:100%; height:100%; display:none;}
.a4_angus h3{text-align: center; font-size:1.2rem; position:absolute; width:70%; top:2%; left:15%}
.a4_angus img{display:none;}
.a4_angus p{font-size:2rem; position:absolute; bottom:1%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}
    .a4_angus .m{background: url(../images/m_angus_img.png) no-repeat; width:100%; height:90%; background-size:100%; position:absolute; top:14%;}
    .a4_angus span{display:block;}

.a4_salmon{position:absolute; width:100%; height:100%; display:none;}
.a4_salmon h3{text-align: center; font-size:1.2rem; position:absolute; width:70%; top:2%; left:15%}
.a4_salmon img{display:none;}
.a4_salmon p{font-size:1.5rem; position:absolute; bottom:1%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}
    .a4_salmon .m{background: url(../images/m_salmon_img.png) no-repeat; width:100%; height:90%; background-size:100%; position:absolute; top:14%;}
.a4_salmon span{display:block;}

.a4_tartar{position:absolute; width:100%; height:100%; display:none;}
.a4_tartar h3{text-align: center; font-size:1.2rem; position:absolute; width:70%; top:2%; left:15%}
.a4_tartar img{display:none;}
.a4_tartar p{font-size:1.5rem; position:absolute; bottom:1%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}
    .a4_tartar .m{background: url(../images/m_tartar_img.png) no-repeat; width:100%; height:90%; background-size:100%; position:absolute; top:14%;}
.a4_tartar span{display:block;}

.a4_tuna{position:absolute; width:100%; height:100%; display:none;}
.a4_tuna h3{text-align: center; font-size:1.2rem; position:absolute; width:70%; top:2%; left:15%}
.a4_tuna img{display:none;}
.a4_tuna p{font-size:1.5rem; position:absolute; bottom:1%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}
    .a4_tuna .m{background: url(../images/m_tuna_img.png) no-repeat; width:100%; height:90%; background-size:100%; position:absolute; top:14%;}
.a4_tuna span{display:block;}

.a4_pasta{position:absolute; width:100%; height:100%; display:none;}
.a4_pasta h3{text-align: center; font-size:1.2rem; position:absolute; width:70%; top:2%; left:15%}
.a4_pasta img{display:none;}
.a4_pasta p{font-size:1.5rem; position:absolute; bottom:1%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}
    .a4_pasta .m{background: url(../images/m_pasta_img.png) no-repeat; width:100%; height:90%; background-size:100%; position:absolute; top:14%;}
.a4_pasta span{display:block;}

.a4_denfura{position:absolute; width:100%; height:100%; display:none;}
.a4_denfura h3{text-align: center; font-size:1.2rem; position:absolute; width:70%; top:2%; left:15%}
.a4_denfura img{display:none;}
.a4_denfura p{font-size:1.5rem; position:absolute; bottom:1%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}
    .a4_denfura .m{background: url(../images/m_denfura_img.png) no-repeat; width:100%; height:90%; background-size:100%; position:absolute; top:14%;}
.a4_denfura span{display:block;}

.a4_soup{position:absolute; width:100%; height:100%; display:none;}
.a4_soup h3{text-align: center; font-size:1.2rem; position:absolute; width:70%; top:2%; left:15%}
.a4_soup img{display:none;}
.a4_soup p{font-size:1.5rem; position:absolute; bottom:1%; right:4%; color:#f1c76a;  padding:5px; border-radius:5px;}
    .a4_soup .m{background: url(../images/m_soup_img.png) no-repeat; width:100%; height:90%; background-size:100%; position:absolute; top:14%;}
.a4_soup span{display:block;}

.a1_no{position:absolute; width:100%; height:100%; display:none;}
.a1_no h3{text-align: center; font-size:1.2rem; position:absolute; width:70%; top:2%; left:15%}
.a1_no img{display:none;}

    .a1_no .m{background: url(../images/m_no.png) no-repeat; width:100%; height:90%; background-size:100%; position:absolute; top:14%;}


.smart_exit{text-indent:-9999px; position:absolute; background:url(../images/m5_exit.png) no-repeat; width:30px; height:30px; background-size:100%; border-style:none; right:2%; top:3%; opacity:1}
    
    
    
/*2페이지*/

.m2_img{background: url(../images/m2_img.jpg) 60% 70% no-repeat; width:100%; height:40%; background-size:120%;}
.m2_logo{display:none;}
.m2_right{position:relative; width:100%; height:60%; margin-left:10%}
.m2_spring{display: block; color:#e4e4e4; margin-top:5%; font-size:2.5rem; font-weight: bold;} 
.m2_slash{ height:3px; width:6%; border-bottom:2px solid #e4e4e4; margin-top:3%}
.m2_txt{font-size:1.4em; margin-top:5%; margin-right:12%; width:80%}
.m2_txtbox{width:100%; transition:all 1s; opacity:0; margin-top:4%; height:100px; float:left;}
.active .m2_txtbox{transition-delay:0.2s; opacity:1; margin-top:2%;}
.m2_txt span{color:#f1c76a}
.brand{display:none;}
.line{display:none;}


/*3페이지*/

.m3_menu{width:100%; height:70%; margin-top:-2%;}
.m3_left{width:50%; height:33%; float:left; }
.m3_wine{width:50%; height:33%; float:left; }
.m3_txt{position:absolute; top:62%; left:52%; width:46%;}
.m3_txt_dt{font-size:1rem; font-weight: bold; transition:all 1s; margin-top:5%; opacity:0;}
.active .m3_txt_dt{opacity:1; margin-top:0%; transition-delay: 0.5s;}

.m3_txt dt span{border-bottom:2px solid #e4e4e4; width:8%; height: 2px; display: block; margin-top:2%}
.m3_txt_dd{margin-top:10%; opacity:0; transition:all 1s; font-size:0.6rem}
.active .m3_txt_dd{transition-delay:1s; opacity:1; margin-top:5%;}
.m3_txt dd span{color:#f1c76a}

.m3_menu li{position:relative; overflow: hidden;}
.m3_menu li a img{z-index:2; width:150%; height:auto; position:absolute; top:-10%; left:-30%}
.m3_name{position:absolute; z-index:5; font-size:1.8em; top:45%; text-align: center; width:100%; font-weight:bold;}
.blackbox{position:absolute; width:100%; height:100%; background:black; z-index: 4; opacity:0.5;}


/*4페이지*/

.m4_address{height:15%; margin-left:2%; width:100%; position:absolute; top:10%;}

.address_txt{background:url(../images/m4_location.png) 0px 0px no-repeat; background-size:5%; text-indent:23px; width:100%; font-size:1rem; position:absolute; top:3%}
.tel_txt{background: url(../images/m4_tel.png) 1px 3px no-repeat; background-size:5%; text-indent:23px; width:100%; font-size:1rem; position:absolute; top:35%}
.m4_map{width:100%; height:50%; position:absolute; top:20%; }
.m4_map iframe{width:100%; height:100%;}
.m4_how_come{position:absolute; top:72%; margin-left:2%;}
.m4_how_come h3{position:relative; font-size:1rem;}
.m4_dot{display: inline-block; width:15px; height:15px; background: #e4e4e4; border-radius:20px; margin-right:8px; margin-top:1px; position:absolute; top:2px;}
.m4_how_txt{text-indent:20px; display: inline-block;}
.m4_how_come p{font-size:0.8rem; width:98%}



/*5페이지*/

.pics{width:100%; height:30%; top:40%; position:absolute;}
.first_pics{position:absolute; width:100%; height: 100%;}
.first_pics ul li{overflow: hidden; width:32%; float:left; margin-bottom:1%; position:relative;}
.first_pics ul li:nth-child(2) {margin:0 2%}
.page5 iframe{width:100%; height:22%; border:none; position:absolute; top:15%;}

.second_pics{position:absolute; width:100%; height: 100%; display:none;}
.second_pics ul li{width:32%; height:30%; float:left; overflow: hidden; margin-bottom:1%; position:relative;}
.second_pics ul li:nth-child(2) {margin:0 2%}

.pics img{width:100%; cursor: pointer; overflow: hidden;}
.bigger{width:100%; position:absolute; height:57%; background:black; color:white; text-align: center; padding-top:27%; font-size:1.5rem; font-family: sans-serif; opacity:0; cursor:pointer; transition:all 0.3s;}
.bigger:hover{opacity:0.8;}

.m5_prev{background: url(../images/tap_prev.png) no-repeat; position:absolute; left:0%; bottom: 62.5%; width:10%; height:20%; background-size: 100%; text-indent:-9999px; border-style: none;}
.m5_next{background: url(../images/tap_next.png) no-repeat; position:absolute; right:0%; bottom:62.5%; width:10%; height:20%; background-size: 100%; text-indent:-9999px; border-style: none;}
.big_pics{position:absolute; z-index:6000; width:100%; height:auto; top:30%; left:0}
.big_pics ul{position:relative; z-index:6000;}
.big_pics li{position:absolute; display:none; border:1px solid #e4e4e4; z-index:6000;}
.big_pics img{width:100%; height:100%; z-index:15}
.m5_exit{background: url(../images/m5_exit.png) no-repeat; width:30px; height: 30px; background-size:100%; position:absolute; right:15px; top:15px; z-index:30; cursor: pointer; display:none; opacity:0.6;}


.footer{width:100%; height: 25%; background-color:black; position:absolute; bottom:0; z-index:1;}
.footer li{width:100%; margin-left:5%; padding:0;}
.footer dt{font-size:0.9rem;  margin:0; padding:0; margin-top:1%}
.footer dd{font-family: sans-serif; font-weight:lighter; font-size:0.7rem; letter-spacing:0px; line-height:1;  margin:0; padding:0;}
.f_line{width:15%; display:inline-block; border-right:1px solid #e4e4e4;}
.f_right{}
.footer p{font-family: sans-serif; font-weight: lighter; position:absolute; bottom:1%; right:3%; font-size:0.8em;}
    .week{width:50%; float:left;}
    
    
}
    











