/* 모바일 환경 */
@media screen and (max-width : 767px) {
body { 
background-color: black; 
          }
}

/* 노트북 환경 */
@media screen and (min-width : 768px) and (max-width : 991px) {
body { 
background-color: red; 
          }
}

/* 데스크탑 환경 */
@media screen and (min-width : 992px) {body { 
background-color: yellow; 
          }
}