/*폰트*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');


/*리셋*/
body,h1,h2,h3,h4,p,div,ul,li,dl,dt,dd,table,td,tr,img{margin:0; padding:0;}
ul,li{list-style:none}
a{text-decoration: none; color:#444444;}
body, button, input{font-family: 'Nanum Myeongjo', serif;; line-height:1.5;
    letter-spacing: -1px; direction: ltr; color:#444444;}
button{cursor: pointer;}
html, body{height:100%; width:100%;}


/* 일반 PC: width: 1,000 이상 */

@media screen and (min-width:1900px){
    body, button, input, a{font-size:18px;}
}

@media screen and (min-width:1600px) and (max-width:1899px){
    body, button, input, a{font-size:15pt;}
}

@media screen and (min-width:1400px) and (max-width:1599px){
    body, button, input, a{font-size:14pt;}
}


@media screen and (min-width:1280px) and (max-width:1399px){
    body, button, input, a{font-size:13pt;}
}

@media screen and (min-width:1000px) and (max-width:1279px){
    body, button, input, a{font-size:12pt;}
}

 /* 태블릿 PC: width: 1,000 미만 640px 이상 */
@media screen and (min-width:640px) and (max-width:999px){
    body, button, input, a{font-size:11pt;}
}

 /* 모바일: width: 640px 미만 */
@media screen and (max-width:639px){
    body, button, input, a{font-size:9pt;}
}
    
/*PC*/
@media screen and (min-width:992px){
/*바디*/

body{background: linear-gradient(180deg,#fff,#e8e8e8); position:relative;}

/*헤더*/
.header{z-index: 2; color:#444444; position:absolute; top:5%; width:100%; height:20%;}
.header li{float:left; width:20%; text-align: center; font-weight:bold; height:30px;}
.header li a{display:inline-block; height:100%; position:relative; cursor:pointer; font-size:1.3em}
.bar{display: inline-block; width:0; background:#76171c; height:5px; border-radius:5px; transition:all 0.5s; }
.header li a:hover .bar{width:100%; cursor: pointer;}
.header li a:hover{color:#76171c; cursor: pointer;}
    .btn_menu{display:none;}
        .btn_close{display:none;}

/*홈*/
.go_home{position:fixed; width:50px; height:100%; left:46.65%; bottom:0}
.go_home a{display:block; z-index:3; position:absolute; text-indent:-9999px; background: url(../images/s2_home.png) no-repeat; width:50px; height:50px; background-size:100%; bottom:1%;}

/*콘텐츠*/
.content{width:100%; position:absolute; top:15%;}
.wine_title{font-size:2rem; margin-left:3%}
.content h3{font-size:2rem; margin-bottom:1%;}
.content ul{float:left; width:30%; margin-left:3%}
.content li{font-family: sans-serif; font-size:1.2rem; border-bottom:1px dashed black;}
.wine_img{background: url(../images/m3_5wine.jpg) no-repeat; width:30%; height:50%; background-size:110%; position:absolute; right:0; border-radius:20px}
.p2_h2{padding-bottom:3%;}


/*버튼*/


.next{position:absolute;  background: url(../images/wine_next.png) no-repeat; width:3%; height:10%; border-style:none; right:4%; top:85%; text-indent:-9999px; background-size:100%}
.next span{position:absolute; width:150px; right:80%; top:18%; font-weight:bold; font-size:1.3rem; color:#76171c}

.next:hover{text-indent:0; background: url(../images/wine_next2.png) no-repeat; width:3%; height:10%; background-size:100%}

.prev{position:absolute;  background: url(../images/wine_prev.png) no-repeat; width:3%; height:10%; border-style:none; left:4%; bottom:5%; text-indent:-9999px; background-size:100%; display:none;}
.prev span{position:absolute; width:150px; left:10%; bottom:45%; font-weight:bold; font-size:1.3rem; color:#76171c}

.prev:hover{text-indent:0; background: url(../images/wine_prev2.png) no-repeat; width:3%; height:10%; background-size:100%}
.drink{display:none;}
    
}

/*모바일*/
@media screen and (max-width:991px){
    
    body{position:relative; height:100%; width:100%;}
    
    /*헤더*/
    .btn_menu{width:100px; height:100px; background: url(../images/btn_menu.png) no-repeat; background-size: 100%; position:absolute; top:1%; right:2%; z-index:400; border:none;}
    
    .header{z-index:300; width:0%; height:100%; background:#76171c; position:absolute; right:0;}
    .btn_close{width:100px; height:100px; background: url(../images/close.png) no-repeat; background-size: 90%; position:absolute; top:1.5%; right:3%; z-index:400; border:none; display:none;}
    .header ul{width:100%; display:none; position:relative; height:100%;}
    .header li{width:80%; height:6%; border-bottom:2px solid #e4e4e4; float:right; margin-top:15%; margin-right:10%;}
    .header li a{font-size:4rem; color:#e4e4e4;}
    
/*    콘텐츠*/
    
    .content{width:100%; height:100%;}
    
.content h3{font-size:6rem; position:absolute; top:45%; left:5%;}
    .wine ul{width:90%; margin-left:5%; padding-bottom:100px;}
    .wine_first{padding-top:98%;}
.content li{font-family: sans-serif; font-size:3rem; border-bottom:1px dashed black;}
.wine_img{background: url(../images/m3_5wine.jpg) no-repeat; width:100%; height:50%; background-size:110%; position:absolute; top:0;}
.p2_h2{padding-bottom:3%;}
    .drink_img{background: url(../images/drink.jpg) no-repeat; width:100%; height:50%; background-size:110%; position:absolute; top:0;}
    .drink ul{width:90%; margin-left:5%;}
    .beer{padding-top:98%; height:800px;}
    .soju{height:500px;}
    .soju .coke{clear:both; margin-top:500px;}
    .coke{height:400px;}
        .soju h3{position:absolute; top:1600px}
    .coke h3{position:absolute; top:2100px;}

/*버튼*/


.next{position:absolute;  background: url(../images/tap_next.png) no-repeat; width:10%; height:10%; border-style:none; right:1%; top:18%; text-indent:-9999px; background-size:100%; z-index:100;}
.next span{display: none;}



.prev{position:absolute;  background: url(../images/tap_prev.png) no-repeat; width:10%; height:10%; border-style:none; left:1%; top:18%; text-indent:-9999px; background-size:100%; display:none;}
.prev span{position:absolute; width:150px; left:10%; bottom:45%; font-weight:bold; font-size:1.3rem; color:#76171c}


.drink{display:none;}
    
/*    홈버튼*/
    .go_home a{display:none}
    
    
}