@charset "utf-8";

*{padding:0; margin:0; list-style: none; text-decoration: none;}
*{-webkit-tap-highlight-color :rgba(0, 0, 0, 0)}
button{border:none;}
button:focus{outline: none}

.wrap{width:1152px; height:768px; margin:0 auto; overflow: hidden; background: url(../images/bg.jpg) no-repeat; background-size: 100%; position:relative;}

.home{width:120px; height: 50px; top:63px; right:165px; cursor: pointer; position:absolute; background:none;}
.next{width:35px; height: 35px; background: none; top:72px; right:125px; position:absolute; cursor: pointer}
.prev{width:35px; height: 35px; background:none; top:72px; right:290px; position:absolute; cursor: pointer;}


.title{width:735px; height: 67px; position:absolute; top:161px; left:213px; background: url(../images/title.png) no-repeat; background-size: 100%;}
.title .on{width:0px; height:67px; position:absolute; top:0; left:0; overflow: hidden;}
.title .on img{width:735px; height: 67px; position:absolute; top:0; left:0;}

.map{width:736px; height: 350px; position:absolute; top:313px; left:208px; box-sizing: border-box;}

.map img.on{animation: Ani 1s forwards}
.map1{width:192px; height: 43px; position:absolute; top:0; left:273px; transform: scale(0)}
.map2-A{width:192px; height: 43px; position:absolute; top:80px; left:15px; transform: scale(0)}
.map2-B{width:192px; height: 43px; position:absolute; top:80px; right:15px; transform: scale(0)}
.map2-C{width:192px; height: 43px; position:absolute; top:80px; left:273px; transform: scale(0)}
.map3-A{width:101px; height: 43px; position:absolute; top:159px; left:0px; transform: scale(0)}
.map3-B{width:101px; height: 43px; position:absolute; top:159px; left:119px; transform: scale(0)}
.map3-C{width:101px; height: 43px; position:absolute; top:159px; left:256px; transform: scale(0)}
.map3-D{width:101px; height: 43px; position:absolute; top:159px; right:256px; transform: scale(0)}
.map3-E{width:101px; height: 43px; position:absolute; top:159px; right:118px; transform: scale(0)}
.map3-F{width:101px; height: 43px; position:absolute; top:159px; right:0px; transform: scale(0)}
.map4-A{width:101px; height: 43px; position:absolute; top:237px; left:0px; transform: scale(0)}
.map4-B{width:101px; height: 43px; position:absolute; top:237px; left:119px; transform: scale(0)}
.map4-C{width:101px; height: 43px; position:absolute; top:237px; left:256px; transform: scale(0)}
.map4-D{width:101px; height: 43px; position:absolute; top:237px; right:188px; transform: scale(0)}
.map4-E{width:101px; height: 43px; position:absolute; top:237px; right:0px; transform: scale(0)}
.map5{width:101px; height: 43px; position:absolute; top:306px; left:62px; transform: scale(0)}
.map_important1{width:101px; height: 43px; position:absolute; top:159px; right:256px; opacity: 0;}
.map_important2{width:101px; height: 43px; position:absolute; top:159px; right:118px; opacity: 0; }
.map_important3{width:101px; height: 43px; position:absolute; top:237px; right:188px; opacity: 0;}
.important{width:269px; height: 144px; position:absolute; top:147px; left:365px; opacity: 0;}

.map span{position:absolute;}
.shot1{width:1px; height:0px; background:#737272; left:368px; top:42px}
.shot2{width:0px; height:1px; background: #737272; top:63px; right:368px;}
.shot3{width:0px; height:1px; background: #737272; top:63px; left:368px;}
.shot4{width:1px; height:0px; background: #737272; top:63px; left:110px;}
.shot5{width:1px; height:0px; background: #737272; top:63px; right:110px;}
.shot6{width:1px; height:0px; background: #737272; top:63px; left:368px;}
.shot7{width:1px; height:0px; background: #737272; top:122px; left:110px;}
.shot8{width:1px; height:0px; background: #737272; top:122px; left:368px;}
.shot9{width:1px; height:0px; background: #737272; top:122px; right:110px;}
.shot10{width:0px; height:1px; background: #737272; top:141px; right:623px;}
.shot11{width:0px; height:1px; background: #737272; top:141px; left:110px;}
.shot12{width:0px; height:1px; background: #737272; top:141px; right:366px;}
.shot13{width:0px; height:1px; background: #737272; top:141px; left:368px;}
.shot14{width:0px; height:1px; background: #737272; top:141px; right:110px;}
.shot15{width:0px; height:1px; background: #737272; top:141px; left:624px;}
.shot16{width:1px; height:0px; background: #737272; top:141px; left:52px;}
.shot17{width:1px; height:0px; background: #737272; top:141px; left:170px;}
.shot18{width:1px; height:0px; background: #737272; top:141px; left:310px;}
.shot19{width:1px; height:0px; background: #737272; top:141px; right:307px;}
.shot20{width:1px; height:0px; background: #737272; top:141px; right:170px;}
.shot21{width:1px; height:0px; background: #737272; top:141px; right:51px;}
.shot22{width:1px; height:0px; background: #737272; top:200px; left:52px;}
.shot23{width:1px; height:0px; background: #737272; top:200px; left:170px;}
.shot24{width:1px; height:0px; background: #737272; top:200px; left:310px;}
.shot25{width:1px; height:0px; background: #737272; top:200px; right:307px;}
.shot26{width:1px; height:0px; background: #737272; top:200px; right:170px;}
.shot27{width:1px; height:0px; background: #737272; top:200px; right:51px;}
.shot28{width:0px; height:1px; background: #737272; top:218px; right:683px;}
.shot29{width:0px; height:1px; background: #737272; top:218px; left:50px;}
.shot30{width:0px; height:1px; background: #737272; top:218px; left:170px;}
.shot31{width:0px; height:1px; background: #737272; top:218px; right:564px;}
.shot32{width:0px; height:1px; background: #737272; top:218px; left:429px;}
.shot33{width:0px; height:1px; background: #737272; top:218px; right:171px;}
.shot34{width:1px; height:0px; background: #737272; top:218px; left:36px;}
.shot35{width:1px; height:0px; background: #737272; top:218px; left:185px;}
.shot36{width:1px; height:0px; background: #737272; top:218px; left:496px;}
.shot37{width:1px; height:0px; background: #737272; top:218px; left:104px;}
.shot38{width:1px; height:0px; background: #737272; top:218px; left:116px;}

@keyframes Ani {
    0{transform: scale(0)}
    30%{transform: scale(1.1)}
    60%{transform: scale(0.9)}
    100%{transform: scale(1)}
}

