@charset "utf-8";

/*user agent stylesheet- margin: 8px*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.wrap {
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 768px;
    background: url(../images/bg.png) no-repeat 0 0;
    background-size: 1024px 768px;
    overflow: hidden;
}

img.guide {
    width: 1024px;
    height: 768px;
    opacity: 0.5;
}


/*bottom_nav*/
ul.bottom_nav {
    width: 415px;
    height: 64px;
   
    position: absolute;
    left: 90px;
    bottom: 10px;
    display: flex;
}

ul.bottom_nav > li{
    
    width: 100%;
    
}

/* content */

img.txt1 { 
    position: absolute;
    left: 67px;
    top: 565px;
    opacity: 0;
    animation: ani2 0.6s 0.5s ease-in-out forwards;
}


@keyframes ani2 {
    0% {
        opacity: 0; transform: scale(0.7);
       
    }

    100% {     
        opacity: 1; transform: scale(1);
       
    }
}

/* img change */
.imgbox{
    position: absolute; 
    top: 180px; 
    left: 300px; 
    width: 500px; 
    height: 323px; 
    background: url(../images/con-bg.png) no-repeat 0 0; 
    background-size: contain; 
    opacity: 1;
  
}
.con1{
    position: absolute;
    top: 10px; right: 65px; 
    width: 426px; height: 303px; 
    overflow: hidden;
   
}
.con2{
    position: absolute; 
    top: 10px; left: 10px; 
    /* 0 - 426 */
    width: 0px;height: 303px; 
    overflow: hidden;
  
}   
.con1 img{
    width:426px; height: 303px; 
    max-width: 426px; 
    position: absolute; 
    right:0; top:0;
   
}
.con2 img{
    width:426px; height: 303px; 
    max-width: 426px; 
    position: absolute; left:0; top:0;
   
}
.slider{
    width:61.5px; 
    position: absolute; top: 0; left:0; 
    transform: translateX(-40%);
  
}
.slider img{
    position: absolute; top: 100px; left:0; 
  
}




/* popup */
.popup{
    cursor: pointer;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.popup_ref{
    background: url(../images/ref.png) no-repeat 0 0;
    background-size: contain;
}
.popup_pi{
    background: url(../images/pi.png) no-repeat 0 0;
    background-size: contain;
}
.popup_foot{
    background: url(../images/foot.png) no-repeat 0 0;
    background-size: contain;
}

/* popup_ studyDesign */
.popup_studyD{
    width: 100%;height: 100%;
    background: url(../images/sD_bg.png) no-repeat 0 0;
    background-size: contain;
    display: none;
}
.popup_studyD > .con {
    width: 55%;height: 63%;
    position: absolute;
    left: 50%; transform: translateX(-53%);
    top: 21%;
    overflow: scroll;

}
