@charset "utf-8";
*{-webkit-tap-highlight-color :rgba(0, 0, 0, 0)}
*{margin: 0; padding: 0; text-decoration: none; list-style: none;}
button{border:none; background: none}
button:focus{outline: none}
.wrap{position:relative; width: 1024px; height: 768px; overflow: hidden; margin: 0 auto;}

.top{width:100%; position: absolute; top:0; left:0; z-index:3;}

.footer{width:100%; position: absolute; bottom:0; left:0; height: 82px; background: #0e6d6b; z-index:3;}
.footer button{width:146px; height: 35px; position: absolute; bottom:23px; cursor: pointer;}
.footer .btn_home{left:43px;}
.footer .btn_home.off{background: url(../images/btn_home.png) no-repeat; background-size: 100%;}
.footer .btn_home.on{background: url(../images/btn_home_on.png) no-repeat; background-size: 100%;}
.footer .btn_pi{right:326px;}
.footer .btn_pi.off{background: url(../images/btn_pi.png) no-repeat; background-size: 100%;}
.footer .btn_pi.on{background: url(../images/btn_pi_on.png) no-repeat; background-size: 100%;}
.footer .btn_fn{right:176px;}
.footer .btn_fn.off{background: url(../images/btn_fn.png) no-repeat; background-size: 100%;}
.footer .btn_fn.on{background: url(../images/btn_fn_on.png) no-repeat; background-size: 100%;}
.footer .btn_ref{right:25px;}
.footer .btn_ref.off{background: url(../images/btn_ref.png) no-repeat; background-size: 100%;}
.footer .btn_ref.on{background: url(../images/btn_ref_on.png) no-repeat; background-size: 100%;}

.content .slide img{width:100%; position: absolute; top:0; left:0;}
.slide2, .slide3, .slide4{opacity: 0;}
.content .slide .main{background: url(../images/main_page.jpg) no-repeat; background-size: 100%; width:1024px; height: 768px; position: absolute; top:0; left:0; opacity: 0;}
.content .slide .main .mouseclick{width:75px; position: absolute; top:530px; left:500px; z-index: 4; display: none;}
.content .slide .main .club_on{width:150px; position: absolute; top:328px; left:437px; opacity: 0; cursor: pointer;}
.content .map{width:247px; position: absolute; top:87px; left:0; z-index: 5;}
.map2{width:247px; position: absolute; top:87px; left:0; z-index: 6; display: none;}
