@charset "utf-8";
html,body{margin: 0; padding: 0;}
.background{min-width: 100%; min-height: 768px;;}
.container{position:relative; width: 1024px; max-width: 100%; height: 768px; overflow: hidden; margin: 0 auto;}
*{-webkit-tap-highlight-color : rgba(0,0,0,0)}
/* .guide{z-index: 99; opacity: 0.3;} */
#bottom{position: absolute; bottom: 0; left: 0; width: 100%; height: 43px;}
#bottom a{vertical-align: top;}
#bottom a.navbtn{display: inline-block; width: 31.5px ; height:27px; background: url(../images/common/nav_btn.png) no-repeat 0 50%; background-size: 31.5px 16.5px; margin-left: 65px}
#bottom a.pibtn{display: inline-block; width: 37.5px; height: 20px; background: url(../images/common/pi_btn.png) no-repeat 0 50%; background-size: 37.5px 22.5px; margin-left: 25px;}
#bottom a.pibtn:active{background: url(../images/common/pi_btn_on.png) no-repeat 0 50%; background-size:37.5px 22.5px; filter: drop-shadow(0.5px 0.5px 1px #006065) drop-shadow(-0.5px -0.5px 1px #006065); }
#bottom a.reference{ display: inline-block; width: 92.5px; height: 26px; margin-left:  25px; background: url(../images/common/ref_btn.png) no-repeat 0 0; background-size: 92.6px 26px;}
#bottom a.reference.on{background: url(../images/common/reference_on.png) no-repeat 0 0; background-size: 92.6px 26px;}
#bottom a.footnote{ display: inline-block; margin-left: 20px; width: 92.5px; height: 26px; background: url(../images/common/fot_btn.png) no-repeat 0 0; background-size: 92.5px 26px;}
#bottom a.footnote.on{background: url(../images/common/footnote_on.png) no-repeat 0 0; background-size: 92.6px 26px;}
.contents{position: absolute; top: 0; left: 0; width: 1024px; height: 768px;}
img{max-width: 1024px;}
.ref_popup{position: absolute; width: 100%; bottom: 0; left: 0; z-index: 101; display: none; background: rgba(0,0,0,0.3);}
.fot_popup{position: absolute; width: 100%; bottom: 0; left: 0; z-index: 101;display: none;background: rgba(0,0,0,0.3);}
.absolute{position: absolute; top: 0; left: 0;}
.ref_popup_bg{display: none; width:100%; height: 768px; position: absolute; top: 0; left: 0; background:rgba(0,0,0,0.3); z-index: 100;}
.fot_popup_bg{display: none; width:100%; height: 768px; position: absolute; top: 0; left: 0; background:rgba(0,0,0,0.3); z-index: 100;}

.heart{transform: scale(0,0); opacity: 0; transition: all 0.8s;}
.heart.scale{transform: scale(1,1); opacity: 1;}
.left{transform: translateX(-50px); opacity: 0;transition: all 0.8s;} 
.left.fade{transform: translateX(0); opacity: 1;} 
.right{transform: translateX(50px); opacity: 0;transition: all 0.8s;} 
.right.fade{transform: translateX(0); opacity: 1;} 