@charset "utf-8";

/*user agent stylesheet- margin: 8px*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
button{
    outline: none;
}

.wrap {
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 768px;
    background: url(../images/bg.png) no-repeat 0 0;
    background-size: 1024px 768px;
    overflow: hidden;
}

img.guide {
    width: 1024px;
    height: 768px;
    opacity: 0.5;
}


/*bottom_nav*/
ul.bottom_nav {
    width: 415px;
    height: 64px;
    border: 1px soldi red;
    position: absolute;
    left: 90px;
    bottom: 10px;
    display: flex;
}

ul.bottom_nav > li{
    
    width: 100%;
    
}

/* content */

img.txt1 { 
    position: absolute;
    left: 70px;
    top: 77px;
    opacity: 0;
    animation: ani1 0.4s 0.5s ease-in-out forwards;
}
img.txt2 { 
    position: absolute;
    left: 70px;
    top: 180px;
    opacity: 0;
    animation: ani1 0.5s 0.9s ease-in-out forwards;
}
img.txt3 { 
    position: absolute;
    left: 220px;
    bottom: 160px;
    opacity: 0;
    animation: ani2 0.8s 1.5s ease-in-out forwards;
}

@keyframes ani1 {
    0% {
        opacity: 0; transform: translateX(-200px);
       
    }

    100% {     
        opacity: 1; transform: translateX(0px);
       
    }
}
@keyframes ani2 {
    0% {
        opacity: 0; transform: scale(0.7);
       
    }

    100% {     
        opacity: 1; transform: scale(1);
       
    }
}


/* blue */
.cont_blue{
    opacity: 1;
    width: 450px;height: 150px;
 
    position: absolute;
    left: 83px;
    top:340px;
   
}
.graph1{
    position: absolute;
    left: -5px;
    top: -5px;
    height: 0;
    overflow: hidden;
}
img.btn1{
    opacity:1;
    width: 55px; height: 55px;
    position: absolute;
    left: 220px;
    top:430px; 
    cursor: pointer; 
    background: url(../images/btn1.png) no-repeat 0 0;
    background-size: contain;
    z-index: 200;
}
/* btn1 _ blink */


/* yellow */
.cont_yellow{
    opacity:0;
    width: 450px;height: 150px;
    position: absolute;
    left: 83px;
    top:340px;
}
.graph2{
    position: absolute;
    left: 53px;
    top: -5px;
    height: 0;
    overflow: hidden;
}
img.btn1.click{
    width: 55px; height: 55px;
    position: absolute;
    left: 220px;
    top: 430px; 
    cursor: pointer; 
    background: url(../images/btn1_on.png) no-repeat 0 0;
    background-size: contain;
    /* z-index: 200; */
}
img.light{
    position: absolute;
    left: 550px;
    top:400px; 
    cursor: pointer; 
}
img.rain{
    position: absolute;
    left: 590px;
    top:415px; 
    cursor: pointer; 
}
button.btn2{
    border: none;
    opacity:1;
    width: 55px; height: 55px;
    position: absolute;
    left: 660px;
    top:430px; 
    cursor: pointer; 
    background: url(../images/btn2.png) no-repeat 0 0;
    background-size: contain;
    z-index: 200;
   
}
button.btn2.click{
    border: none;
    border: none;
    width: 92px;height: 85px;
    position: absolute;
    left: 450px;
    top:340px; 
    background: url(../images/btn2_on.png) no-repeat 0 0;
    background-size: contain;
    z-index:200;
}

.cont_popup{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;height: 100%;
    background: url(../images/content_popup_bg.png) no-repeat 0 0;
    background-size: contain;
   
}
.img1{
    position: absolute;
    left: 665px;
    top: 260px;
}
.img2{
    opacity:0;
    position: absolute;
    left: 665px;
    top: 265.5px;
}



/* popup */
.popup{
    cursor: pointer;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.popup_ref{
    background: url(../images/ref.png) no-repeat 0 0;
    background-size: contain;
}
.popup_pi{
    background: url(../images/pi.png) no-repeat 0 0;
    background-size: contain;
}
.popup_foot{
    background: url(../images/foot.png) no-repeat 0 0;
    background-size: contain;
}

/* popup_ studyDesign */
.popup_studyD{
    width: 100%;height: 100%;
    background: url(../images/sD_bg.png) no-repeat 0 0;
    background-size: contain;
    display: none;
}
.popup_studyD > .con {
    width: 55%;height: 63%;
    position: absolute;
    left: 50%; transform: translateX(-53%);
    top: 21%;
    overflow: scroll;

}
