@charset "utf-8";
*{margin: 0; padding: 0; -webkit-tap-highlight-color :rgba(0, 0  0, 0); box-sizing: border-box;}
*:focus{outline: none;}
html,body{width: 100%; height: 100%; overflow: hidden;}
.container{position:relative; width: 1024px; max-width: 100%; min-height: 768px; overflow: hidden; margin: 0 auto;}
.absolute{position: absolute; top: 0; left: 0;}
img{max-width: 100%;}
.guide{z-index: 99; opacity: 0.3;}

.b_nav{position: absolute; width: 100%; height: 60px; bottom: 0; left: 0; padding-left: 80px;}
.b_nav a{display: inline-block; margin-right: 5px;}
.b_nav a img{width: 60px;}


.popup{position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 999;}
.refpopup{background: rgba(255,255,255,0.7) url(../images/ref_bg.png) no-repeat center; background-size: 100%; display: none;}
.refpopup .con{width: 65%; height: 70%; position: absolute; top: 15%; left: 50%; transform: translateX(-50%); overflow: scroll;}
.studypopup{background: rgba(255,255,255,0.7) url(../images/ref_bg.png) no-repeat center; background-size: 100%; display: none;}
.studypopup .con{width: 65%; height: 70%; position: absolute; top: 15%; left: 50%; transform: translateX(-50%); overflow: scroll;}
.pi{background: rgba(255,255,255,0.7); display: none}
.notepopup{background: rgba(255,255,255,0.7); display: none;}

::-webkit-scrollbar{}
::-webkit-scrollbar-button{display: none;}
::-webkit-scrollbar-button:start{}
::-webkit-scrollbar-button:end{}
::-webkit-scrollbar-button:vertical:increment{}
::-webkit-scrollbar-button:vertical:decrement{}
::-webkit-scrollbar-track{width: 2px; background-color: rgba(0,0,0,0.4); background-clip: content-box;}
::-webkit-scrollbar-track-piece{background-color: #e97406;}
::-webkit-scrollbar-thumb{background-color: #e97406;}
::-webkit-scrollbar-corner{}
::-webkit-resizer{}

.title{position: absolute; top: 70px; left: 50px; width: 549.5px; transform: translateX(-50%); opacity: 0; transition: all 0.8s;}
.title.on{transform: translateX(0); opacity: 1;}
.subtitle{position: absolute; top: 160px; left: 50px; width: 723.5px; transform: translateX(-50%); opacity: 0; transition:  all 0.8s;}
.subtitle.on{transform: translateX(0); opacity: 1;}


.skip{width:64px; position: absolute; top: 500px; left: 50%; transform: translateX(-50%);}