@charset "utf-8";
*{-webkit-tap-highlight-color :rgba(0, 0, 0, 0)}
*{margin: 0; padding: 0; text-decoration: none; list-style: none;}
button{border:none; background: none}
button:focus{outline: none}
.wrap{position:relative; width: 1024px; height: 768px; overflow: hidden; margin: 0 auto; background: url(../images/bg.jpg) no-repeat; background-size:100%;}

.nav{position:absolute; top:0; right:0px; z-index: 3;}
.nav button{height: 50px; margin: 0; float:left;box-sizing: border-box; cursor: pointer;}
.nav .btn_home{width:60px;}
.nav .btn1{width:115px}
.nav .btn2{width:115px}
.nav .btn3{width:120px}
.nav .btn4{width:120px}
.nav .btn5{width:115px}
.nav .btn6{width:120px}
.nav .btn7{width:110px}

.footer{position:absolute; bottom:0; left:0; width:100%; z-index: 3;}
.footer button{height: 50px; position:absolute; cursor: pointer;}
.footer .btn_ref{ width:160px; left:50px; bottom:0;}
.footer .btn_fn{width:160px; left:215px; bottom:0;}
.footer .btn_pi{width:160px; right:5px; bottom:0;}

.ref, .fn, .plus1, .plus2, .plus3{width:100%; position:absolute; top:0; left:0; z-index: 5; display: none;}

.content .bar{background: url(../images/bar.png) no-repeat; width:862px; height: 43px; background-size: 100%; position:absolute; top:543px; left:81px}
.content .bar_on{width:0px; overflow: hidden; height: 43px;}
.content .bar_on img{width:862px;}
.content .symbol{width:40px; position:absolute; top:543px; left:81px; background: url(../images/symbol.png) no-repeat; background-size: 100%; height: 43px;}

.canvas{width:950px;position:relative; height:80px; margin-top:530px}
.btn{width:45px; height: 43px; position: absolute;  right:0px; top:13px;}
.btn img{width:100%}
#droppable{width:950px; position:absolute; height:820px; z-index: 1; top:0px; left:0; ;}
.zone{width:100px; height:100%; top:0px; left:0; position: absolute; z-index: 2;;}

.date1{width:180px; height: 260px; position:absolute; top:275px; left:179px;}
.date1.off{background: url(../images/date1.png) no-repeat;  background-size: 100%; }
.date1.on{background: url(../images/date1_on.png) no-repeat;  background-size: 100%; }
.date2{width:180px; height: 260px; position:absolute; top:275px; left:421px;}
.date2.off{background: url(../images/date2.png) no-repeat;  background-size: 100%; }
.date2.on{background: url(../images/date2_on.png) no-repeat;  background-size: 100%; }
.date3{width:180px; height: 260px; position:absolute; top:275px; left:665px;}
.date3.off{background: url(../images/date3.png) no-repeat;  background-size: 100%; }
.date3.on{background: url(../images/date3_on.png) no-repeat;  background-size: 100%; }

.date .zoom{width:35px; position:absolute; top:177px; left:72px; display: none; cursor: pointer; z-index: 3;}

.txt1{width:212px; height: 47px; position:absolute; top:586px; left:162px;}
.txt1.off{background: url(../images/txt1.png) no-repeat;  background-size: 100%; }
.txt1.on{background: url(../images/txt1_on.png) no-repeat;  background-size: 100%; }
.txt2{width:212px; height: 47px; position:absolute; top:586px; left:405px;}
.txt2.off{background: url(../images/txt2.png) no-repeat;  background-size: 100%; }
.txt2.on{background: url(../images/txt2_on.png) no-repeat;  background-size: 100%; }
.txt3{width:212px; height: 47px; position:absolute; top:586px; left:649px;}
.txt3.off{background: url(../images/txt3.png) no-repeat;  background-size: 100%; }
.txt3.on{background: url(../images/txt3_on.png) no-repeat;  background-size: 100%; }