@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.wrap {
    position: relative;
    margin: 0 auto;
    width: 1024px;

    height: 768px;
    background: url(../images/bg.png) no-repeat 0 0;
    background-size: 100%;
}

.cont1 {
    position: absolute;
    left: 353px;
    top: 140px;
    opacity: 0;
    transform: translateY(40px);
}
.cont2 {
    position: absolute;
    left: 400px;
    top: 180px;
    opacity: 0;
    transform: translateY(40px);
}
.cont3 {
    position: absolute;
    left: 100px;
    top: 560px;
    transform: scale(0, 1);
}
.line1 {
    position: absolute;
    left: 216px;
    top: 127px;
    opacity: 0;
}
.cont89 {
    position: absolute;
    left: 165px;
    top: 255px;
    transform: scale(1);
    opacity: 0;
}
.line2 {
    position: absolute;
    left: 158px;
    top: 153px;
    transform-origin: bottom;
    transform: rotate(-46deg);
    opacity: 0;
}

/* svg */
.d-chart {
    position: absolute;
    top: 162px;
    left: 99px;
}
.nut {
    animation: nuts_chart 2s reverse ease-in;
    transform: rotate(-90deg);
    transform-origin: center;
}
@keyframes nuts_chart {
    to {
        stroke-dasharray: 0 130;
    }
}

/* nav*/
.nav {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 110px;
    height: 60px;
    display: flex;
}
.nav li {
    width: 50%;
}
