@charset "utf-8";

html,
body {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*user agent stylesheet- margin: 8px*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.wrap {
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 768px;
    background: url(../images/bg.png) no-repeat 0 0;
    background-size: 1024px 768px;
    overflow: hidden;
}

img.guide {
    width: 1024px;
    height: 768px;
    opacity: 0.5;
}




/*top_nav*/
ul.bottom_nav {
    width: 470px;
    height: 64px;

    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
}

ul.bottom_nav>li>a.foot {

    width: 123px;
    height: 59px;
}

ul.bottom_nav>li>a.e_first {

    width: 65px;
    height: 59px;
}

ul.bottom_nav>li>a.e_efficacy {

    width: 65px;
    height: 59px;
}

ul.bottom_nav>li>a.home {

    width: 65px;
    height: 59px;
}

/* content */
img.txt1 {

    position: absolute;
    left: 43px;
    top: 110px;
    background: url(../images/item1.png) no-repeat 0 0;
    background-size: contain;
    opacity: 0;
    animation: ani 0.6s 0.6s linear forwards;
}

img.txt2 {

    position: absolute;
    left: 43px;
    top: 150px;
    background: url(../images/item1.png) no-repeat 0 0;
    background-size: contain;
    opacity: 0;
    animation: ani 0.6s 1s linear forwards;
}

@keyframes ani {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    30% {

        opacity: 0.5;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes ani2 {
    0% {
        transform: translateY(0px);
        opacity: 0.3;
    }

    50% {
        transform: translateY(30px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}



/* graph-effect */

div.graph1 {

    position: absolute;
    left: 212px;
    bottom: 136px;
    height: 0;
    overflow: hidden;
    /* 68 */

}

.line1 {
    position: absolute;
    left: 252px;
    top: 384px;
    opacity: 0;

}

div.graph2 {

    position: absolute;
    left: 380px;
    top: 374px;
    height: 0;
    /* 288 */
    overflow: hidden;
}

div.graph3 {

    position: absolute;
    left: 617px;
    bottom: 136px;
    height: 0;
    /* 411 */
    overflow: hidden;
}

.line2 {
    position: absolute;
    left: 656px;
    top: 384px;
    opacity: 0;

}

div.graph4 {

    position: absolute;
    left: 785px;
    top: 374px;
    height: 0px;
    /* 152 */
    overflow: hidden;
}

/* popup */
.popup1 {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/p4-popup.png) no-repeat 0 0;
    background-size: contain;
}