@charset "UTF-8";

/*************	width: 64em / height: 48em *****************/

body,html {
/* margin: 0 auto 화면 중앙 배치 */
width: 100%;
height: 100%;
max-width:1024px;
max-height:768px;
margin: 0 auto;
}


.wrap{position:absolute; width:1024px; height:768px; margin:0 auto; background:#000;}
.guide{background:url('../images/guide.jpg') no-repeat; background-size:1024px 768px; width:1024px; height:768px; position:absolute; top:0; left:0; padding:0px; margin:0px; z-index:99; opacity:0.5; }
.background{position:absolute; top:0; left:0; width:1024px; height:768px; z-index:10; display:block}
.background_2{position:absolute; top:0; left:0; width:1024px; height:768px; z-index:20; display:none}
.piece{
	background:url('../images/piece.png') no-repeat; background-size:131px 95px; 
	position:absolute; top:415px; left:684px; width:131px; height:95px; z-index:11;	
}
.piece_1{position:absolute; top:100px; left:355px; width:131.5px; height:95.5px; z-index:11; opacity:0}
.piece_2{position:absolute; top:600px; left:355px; width:131.5px; height:95.5px; z-index:11; opacity:0}
.piece_3{position:absolute; top:278px; left:0px; width:131.5px; height:95.5px; z-index:11; opacity:0}
.piece_4{position:absolute; top:278px; left:700px; width:131.5px; height:95.5px; z-index:11; opacity:0}
.dropArea{position:absolute; top:190px; left:250px; width:150px; height:150px; background:#008000; opacity:0; z-index:11;}
.mix{
	opacity:1;
	top:239px;
	left:283px;	
	width:78.5px; height:59.5px;
	transform: rotateY(720deg);
	transition: 0.8s ease-in-out;
}

#scene1{display:block;}
#scene2{display:none;}

.showText{	
	width:694.5px;
	transition: 0.8s;	
}

