@charset "utf-8";
*{
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{margin: 0; padding: 0; text-decoration: none; list-style: none;}
*:focus{outline: none;}
html,body{width:100%; height: 100%;}
.wrap{position:relative;
    width: 1024px;
    height:768px;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    background:url(../images/bg.jpg) no-repeat;
    background-size: 100%;
}


/* footer */
.footer{
    width:1024px;
    height:67px;
    position:absolute;
    z-index: 3;
    bottom:0;
    left:0;
}
.footer button{cursor:pointer;}
.footer .bar{width:1024px;
    position:absolute;
    bottom:0;
    left:0;
    z-index: 5;
}

.btn_home{width:44px;
    height:42px;
    border:none;
    position:absolute;
    bottom:24px;
    left:40px;
}
.btn_home.off{
    background: url(../images/btn_home.png) no-repeat;
    background-size: 100%;
}
.btn_home.on{
    background: url(../images/btn_home_on.png) no-repeat;
    background-size: 100%;
}
.btn_ref{width:44px;
    height:42px;
    border:none;
    position:absolute;
    bottom:24px;
    left:128px;
}
.btn_ref.off{
    background: url(../images/btn_ref.png) no-repeat;
    background-size: 100%;
}
.btn_ref.on{
    background: url(../images/btn_ref_on.png) no-repeat;
    background-size: 100%;
}
.btn_pi{width:44px;
    height:42px;
    border:none;
    position:absolute;
    bottom:24px;
    left:84px;
}
.btn_pi.off{
    background: url(../images/btn_pi.png) no-repeat;
    background-size: 100%;
}
.btn_pi.on{
    background: url(../images/btn_pi_on.png) no-repeat;
    background-size: 100%;
}


/* nav */
.nav1{background:none;
    width:200px;
    height: 50px;
    border:0;
    position:absolute;
    top:36px;
    left:50px;
    cursor: pointer;
}

.nav2{background:none;
    width:200px;
    height: 50px;
    border:0;
    position:absolute;
    top:36px;
    left:255px;
    cursor: pointer;
}

/* popup */
.popup{width:100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    position:absolute;
    z-index: 1;
}
.popup img{width:100%;}

/* content */

.title{width:0px; position:absolute;
    height:114px;
    top:86px; left:0;
    overflow: hidden;
}
.title img{width:1024px;}

.imp{width:807px;
    position:absolute;
    bottom:87px;
    left:109px;
    transform: scaleX(0);
}
.imp.on{animation: Scale 1s forwards;}
@keyframes Scale {
    from{transform: scaleX(0);}
    to{transform: scaleX(1);}
}

.cont img{width:188px; position:absolute;}
.cont1{left:36px; top:236px; transform: scale(0);}
.cont2{left:36px; top:415px; transform: scale(0);}
.cont3{left:463px; top:415px; transform: scale(0);}
.cont1.on{animation: Ani 1s forwards;}
.cont2.on{animation: Ani 1s forwards;}
.cont3.on{animation: Ani 1s forwards;}

@keyframes Ani {
    from{transform: scale(0);}
    to{transform: scale(1);}
}