@charset "utf-8";
*{-webkit-tap-highlight-color :rgba(0, 0, 0, 0)}
*{margin: 0; padding: 0; text-decoration: none; list-style: none;}
button{border:none; background: none;}
button:focus{outline: none;}
.wrap{position:relative;
    width: 1024px;
    height: 768px;
    overflow: hidden;
    margin: 0 auto;
    background: url(../images/bg.jpg) no-repeat;
    background-size:100%;}

/* footer */
.footer{background:url(../images/footer.png) no-repeat;
    width:1024px;
    background-size: 100%;
    position:absolute;
    bottom:0;
    height:90px;
}
.footer button{
    width:37px;
    height:50px;
    position: absolute;
    bottom:16px;
    cursor: pointer;
}
.footer button img{
    width:100%;
}
.footer .btn_home{left:45px}
.footer .btn_pi{left:106px}
.footer .btn_prev{left:187px}
.footer .btn_next{left:272px}

/* content */
.content .bar{width:294px; position: absolute; bottom:365px; right:241px; z-index: 1;}
.content .bar.on{animation: Rotate 2s forwards;}
.content .placebo{width:89px; position: absolute; bottom:377px; right:241px; z-index: 1;}
.content .placebo.on{animation: Placebo 2s forwards;}
.content .repatha{width:89px; position: absolute; bottom:377px; right:442px; z-index: 1;}
.content .repatha.on{animation: Repatha 2s forwards;}
@keyframes Rotate{
    from{transform: rotate(0);}
    to{transform: rotate(-10deg);}
}
@keyframes Placebo{
    from{bottom:377px}
    to{bottom:395px}
}
@keyframes Repatha{
    from{bottom:377px}
    to{bottom:355px; width:131px;}
}
.imp{width:0px; position: absolute; top:283px; left:170px; z-index: 0; overflow: hidden;}
.imp img{width:350px;}

.result{width:100%; position: absolute; bottom:133px; left:0; z-index: 1; opacity: 0;}