@charset "UTF-8";


/* reset */
*{padding:0; margin:0; list-style: none; text-decoration: none;}
*{-webkit-tap-highlight-color :rgba(0, 0, 0, 0)}
button{border:none; background: none;}
button:focus{outline: none}

body,html {
/* margin:  0 auto 화면 중앙 배치 */
width:  100%;
height:  100%;
margin:  0 auto;
}


.wrap{
    background:url('../images/img03/bg.jpg') no-repeat; background-size: 100%; 
    position: relative; width: 100vw; height: 75vw; padding: 0px; margin: 0 auto; box-sizing: border-box;
    /* max-width: 1024px; max-height: 768px; */
}



/* header */
.home{width:5vw; position: absolute; top:3.4vw; right:2.6vw; cursor: pointer;}
.home img{width:100%}
.search{background: url(../images/img03/txt_box.png) no-repeat; background-size: 100%; width:32vw; position:absolute; right:2vw; top:9vw; height: 10vw; z-index: 2;}
.search_txt{width:80%; height: 40%; margin-top:3%; text-indent: 2%; font-family: sans-serif; font-weight: normal; font-size:2vw; margin-left:2%; border:none; background: none;}
.search_btn{width:5.5vw; position:absolute; right:0; top:10%; cursor: pointer;}
.search_btn img{width:100%}


/* content */
.content{width:90vw; height: 45vw; position:absolute; top:21vw; left:5vw;}
.content .title span{height:3vw; background: #009240; color:#fff; display: inline-block; text-align: center; line-height: 3vw; font-family: sans-serif;}
.content .title span:first-child{width:74vw; border-top-left-radius: 1vw; border-top-right-radius: 1vw;}
.content .title span:last-child{width:15vw; float:right; border-top-left-radius: 1vw; border-top-right-radius: 1vw;}
.content .list{width:100%; border-collapse: collapse; overflow: scroll; height:43vw; display: block;}
.content .list tr{border-bottom:1px solid #009240; box-sizing: content-box;}
.content .list tr td{word-break: keep-all;}
.content .list tr td:first-child{background: #ebf4eb; text-align: center; font-family: sans-serif; line-height: 1; width:3vw; font-size:1.7vw}
.content .list tr td:nth-child(2){text-align: left; font-family: sans-serif; line-height: 1; padding:.6vw; width:72vw; font-size:1.7vw}
.content .list tr td:last-child{width:15vw; position:relative}
.content .list tr td:last-child img{width:32%; cursor: pointer; position: absolute; left:50%; top:50%; transform: translate(-50%,-50%);}


.popup{width:100%; height: 100%; position:absolute; background: url(../images/img03/popup.png) no-repeat; background-size: 100%; display: none; z-index: 3;}
.popup > div{width:100%; position:absolute; height: 100%; top:0; left:0; display: none;}
.popup h2{font-family: sans-serif; color:#fff; position:absolute; top:20%; left:12%; font-size:2vw; font-weight: normal; width:70%; word-break: keep-all;}
.popup h2.two{top:18%;}
.popup p{font-family: sans-serif; color:#222; position:absolute; top:30%; left:10%; font-size:1.6vw; font-weight: normal; width:80%; word-break: keep-all; text-align: left; height: 34vw; overflow: scroll;}
.popup p b{font-weight: bold;}
.popup p b.mark{background: #feead3;}
.popup .reference{width:80%; height:10vw; position:absolute; bottom:10%; left:10%}
.popup .reference .ref_title{width:100%; border-bottom:1px solid #222;}
.popup .reference .ref_title span{width:14%; background: #f39200; display: block; border-top-left-radius: .6vw; border-top-right-radius: .6vw; text-align: center; color:#fff; font-family: sans-serif; font-size: 1.7vw;}
.popup .reference > span{font-family: sans-serif; font-size: 1vw; color:#222; display: block; padding-top:1vw}
.popup .data{width:100%; position:absolute; top:65%; left:0; background: url(../images/img03/data.png) no-repeat; height: 8vw; background-size: 100%;}
.popup .data a{display: block; width:20%; height: 100%; margin:0 auto;}