@charset "utf-8";
*{-webkit-tap-highlight-color :rgba(0, 0, 0, 0)}
*{margin: 0; padding: 0; text-decoration: none; list-style: none;}
button{border:none;}
button:focus{outline: none;}
.wrap{position:relative; width: 1024px; height: 768px; overflow: hidden; margin: 0 auto; background: url(../images/bg.jpg) no-repeat; background-size:100%;}

.nav div{width:115px; height: 40px; position:absolute; left:23px; cursor: pointer}
.nav1{top:160px;}
.nav2{top:202px}
.nav3{top:246px}
.nav4{top:290px}
.nav5{top:333px}
.nav1.off{background: url(../images/nav1.png) no-repeat; background-size: 100%;}
.nav1.on{background: url(../images/nav1_on.png) no-repeat; background-size: 100%;}
.nav2.off{background: url(../images/nav2.png) no-repeat; background-size: 100%;}
.nav2.on{background: url(../images/nav2_on.png) no-repeat; background-size: 100%;}
.nav3.off{background: url(../images/nav3.png) no-repeat; background-size: 100%;}
.nav3.on{background: url(../images/nav3_on.png) no-repeat; background-size: 100%;}
.nav4.off{background: url(../images/nav4.png) no-repeat; background-size: 100%;}
.nav4.on{background: url(../images/nav4_on.png) no-repeat; background-size: 100%;}
.nav5.off{background: url(../images/nav5.png) no-repeat; background-size: 100%;}
.nav5.on{background: url(../images/nav5_on.png) no-repeat; background-size: 100%;}

.btns div{width:95px; height: 35px; position:absolute; left:23px; cursor: pointer}
.btn_home{bottom:139px}
.btn_pi{bottom:98px}
.btn_fn{bottom:58px}

.btn_home.off{background: url(../images/btn_off_home.png) no-repeat; background-size: 100%}
.btn_home.on{background: url(../images/btn_on_home.png) no-repeat; background-size: 100%}
.btn_pi.off{background: url(../images/btn_off_pi.png) no-repeat; background-size: 100%}
.btn_pi.on{background: url(../images/btn_on_pi.png) no-repeat; background-size: 100%}
.btn_fn.off{background: url(../images/btn_off_fn.png) no-repeat; background-size: 100%}
.btn_fn.on{background: url(../images/btn_on_fn.png) no-repeat; background-size: 100%}

.footnote{width:872px; position: absolute; right:0; top:0; display: none;}

.graph{width:0px; position:absolute; left:344px; top:321px; overflow: hidden;}
.graph img{width:501px;}
.arrow{width:106px; height:0px; position: absolute; top:431px; left:396px; overflow: hidden;}
.arrow img{width:106px; height: 142px;}
