/*폰트*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');


/*리셋*/
body,h1,h2,h3,h4,p,div,ul,li,dl,dt,dd,table,td,tr,img{margin:0; padding:0;}
ul,li{list-style:none}
a{text-decoration: none; color:#444444;}
body, button, input{font-family: 'Nanum Myeongjo', serif;; line-height:1.5;
    letter-spacing: -1px; direction: ltr; color:#444444;}
button{cursor: pointer;}
html, body{height:100%; width:100%; }


/* 일반 PC: width: 1,000 이상 */

@media screen and (min-width:1900px){
    body, button, input, a{font-size:18px;}
}

@media screen and (min-width:1600px) and (max-width:1899px){
    body, button, input, a{font-size:15pt;}
}

@media screen and (min-width:1400px) and (max-width:1599px){
    body, button, input, a{font-size:14pt;}
}


@media screen and (min-width:1280px) and (max-width:1399px){
    body, button, input, a{font-size:13pt;}
}

@media screen and (min-width:1000px) and (max-width:1279px){
    body, button, input, a{font-size:12pt;}
}

 /* 태블릿 PC: width: 1,000 미만 640px 이상 */
@media screen and (min-width:640px) and (max-width:999px){
    body, button, input, a{font-size:11pt;}
}

 /* 모바일: width: 640px 미만 */
@media screen and (max-width:639px){
    body, button, input, a{font-size:9pt;}
}
    


/*PC*/
@media screen and (min-width:992px){

/*바디*/

body{background: linear-gradient(180deg,#fff,#e8e8e8)}

/*헤더*/
.header{z-index: 2; color:#444444; position:absolute; top:5%; width:100%; height:20%;}
.header li{float:left; width:20%; text-align: center; font-weight:bold; height:30px;}
.header li a{display:inline-block; height:100%; position:relative; cursor:pointer; font-size:1.3em}
.bar{display: inline-block; width:0; background:#76171c; height:5px; border-radius:5px; transition:all 0.5s; }
.header li a:hover .bar{width:100%; cursor: pointer;}
.header li a:hover{color:#76171c; cursor: pointer;}
    .btn_menu{display:none;}
    .btn_close{display: none;}


/*홈*/
.go_home{position:relative; width:50px; height:100%; margin:auto;}
.go_home a{display:block; z-index:3; position:absolute; text-indent:-9999px; background: url(../images/s2_home.png) no-repeat; width:50px; height:50px; background-size:100%; bottom:1%;}

/*content*/

.content{width:100%; height:100%}
.big_img{position:relative; width:50%; height:100%; float:left;}
.big_img li{position:absolute; top:20%; left:5%}
.big_img img{width:90%; height:auto; border-radius:30px; border:2px solid #444444; }
.big_img dt{font-size:1.5em; font-weight:bold}
.big_img dd{width:90%;}
.big_right{float:right; margin-right:10%;}


.none{display:none;}

.list{width:50%; float:right; height:100%; position:relative;}
.list ul{margin-top:20%; height:80%; margin-left:5%;}
.list li{width:30%; height:25%; float:left; margin:1%; overflow:hidden; border-radius:30px; position:relative; box-shadow:3px 3px 3px #b2b2b2; cursor:pointer}

@media screen and (min-height:901px){
    .list li img{width:240%; position:absolute; top:-20%; left:-70%; z-index:1}
}
@media screen and (max-height:900px){
    .list li img{width:200%; position:absolute; top:-40%; left:-50%; z-index:1}
}

.li_blackbox{background:black; position:absolute; width:100%; height:100%; z-index: 3; opacity:0.3;}
.li_txt{color:white; position:absolute; z-index:4; text-align:center; width:100%; padding-top:30%; font-size:1.5rem; font-family: sans-serif; cursor:pointer;}
.li_txt2{color:white; position:absolute; z-index:4; text-align:center; width:100%; padding-top:24%; font-size:1.5rem; font-family: sans-serif; cursor:pointer;}
    
    
.list li:hover .li_blackbox{display:none;}

.first_list{position:absolute; width:95%; height: 100%}
.second_list{position:absolute; width:95%; height: 100%; display:none;}


/*버튼*/
.prev{position:absolute; text-indent:-9999px; background: url(../images/s2_prev.png) no-repeat; width:41px; height: 32px; border-style:none; left:5%; top:85%;}
.next{position:absolute; text-indent:-9999px; background: url(../images/s2_next.png) no-repeat; width:41px; height: 32px; border-style:none; right:4%; top:85%;}
}


/*모바일*/
@media screen and (max-width:991px){
    
/*바디*/

body{position:relative; height:100%; width:100%;}

/*헤더*/
    .btn_menu{width:100px; height:100px; background: url(../images/btn_menu.png) no-repeat; background-size: 100%; position:absolute; top:1%; right:2%; z-index:400; border:none;}
    
    .header{z-index:300; width:0%; height:100%; background:#76171c; position:absolute; right:0;}
    .btn_close{width:100px; height:100px; background: url(../images/close.png) no-repeat; background-size: 90%; position:absolute; top:1.5%; right:3%; z-index:400; border:none; display:none;}
    .header ul{width:100%; display:none; position:relative; height:100%;}
    .header li{width:80%; height:6%; border-bottom:2px solid #e4e4e4; float:right; margin-top:15%; margin-right:10%;}
    .header li a{font-size:4rem; color:#e4e4e4;}


/*홈*/
.go_home a{display:block; z-index:3; position:absolute; text-indent:-9999px; background: url(../images/s2_home.png) no-repeat; width:120px; height:120px; background-size:100%; bottom:1%; left:44.5%}

/*content*/

.content{width:100%; height:100%}
.big_img{position:relative; width:100%; height:50%;}
.big_img li{position:absolute; top:0%; height:100%;}
.big_img img{width:100%; height:70%; }
.big_img dt{font-size:3.5rem; font-weight:bold; margin-left:2.5%; margin-top:2%;}
.big_img dd{width:95%; font-size:2.3rem; margin-left:2.5%;}
.big_right{position:absolute; bottom:-16%; right:2%; font-size:4rem; z-index:200; color:#444444;}

.none{display:none;}

.list{width:100%; height:50%; position:relative;}
.list ul{margin-top:15%; height:80%; margin-left:1%;}
.list li{width:32.3%; height:25%; float:left; margin:0.5%; overflow:hidden; border-radius:30px; position:relative; box-shadow:3px 3px 3px #b2b2b2; cursor:pointer; box-sizing:border-box;}

@media screen and (min-height:901px){
    .list li img{width:240%; position:absolute; top:-20%; left:-70%; z-index:1}
}
@media screen and (max-height:900px){
    .list li img{width:200%; position:absolute; top:-40%; left:-50%; z-index:1}
}

.li_blackbox{background:black; position:absolute; width:100%; height:100%; z-index: 3; opacity:0.3;}
.li_txt{color:white; position:absolute; z-index:4; text-align:center; width:100%; padding-top:20%; font-size:3rem; font-family: sans-serif; cursor:pointer;}
.li_txt2{color:white; position:absolute; z-index:4; text-align:center; width:100%; padding-top:15%; font-size:2.5rem; font-family: sans-serif; cursor:pointer; line-height: 1.2}
    
    
.list li:hover .li_blackbox{display:none;}

.first_list{position:absolute; width:98%; height: 100%}
.second_list{position:absolute; width:98%; height: 100%; display:none;}


/*버튼*/
.prev{position:absolute; text-indent:-9999px; background: url(../images/s2_prev.png) no-repeat; width:120px; height: 92px; border-style:none; left:3%; bottom:5%; background-size:100%; z-index:70;}
.next{position:absolute; text-indent:-9999px; background: url(../images/s2_next.png) no-repeat; width:120px; height: 92px; border-style:none; right:3%; bottom:5%; background-size: 100%; z-index:70;}    

}