@charset "utf-8";

*{padding:0; margin:0; list-style: none; text-decoration: none;}
*{-webkit-tap-highlight-color :rgba(0, 0, 0, 0)}
button{border:none;}
button:focus{outline: none}

.wrap{width:1152px; height:768px; margin:0 auto; overflow: hidden; background: url(../images/bg.jpg) no-repeat; background-size: 100%; position:relative;}
img{width:100%}

button{background: none; cursor: pointer; z-index: 3;}
.btn_pi{width:58px; height:62px; position:absolute; bottom:65px; left:170px;}
button:not(.btn_pi){width:165px; position:absolute; bottom:65px;}
.btn1{left:254px}
.btn2{left:443px;}
.btn3{left:630px}
.btn4{left:816px}

.popup{width:100%; height: 100%; z-index: 5; position:absolute; top:0; left:0; display: none;}
.title{width:100%; position:absolute; top:70px; left:0; opacity: 0;}

.animation img{position:absolute; width:100%; top:0;}

.line1, .line2, .line3, .line4{transform: translate(-100%,0);}
.line1{ animation: Ani1 1s forwards;}
.line2{ animation: Ani1 1s forwards;}
.line3{ animation: Ani1 1s forwards .5s}
.line4{ animation: Ani1 1s forwards 1s}
.who{transform: translate(0,100%); animation: Ani2 1s forwards 1.5s}

.logo{width:170px; position:absolute; top:0; left:0; z-index: 5}

@keyframes Ani1{
    from{transform: translate(-100%,0)}
    to{transform: translate(0,0)}
}

@keyframes Ani2{
    from{transform: translate(0,100%)}
    to{transform: translate(0,0)}
}
