@charset "utf-8";
*{-webkit-tap-highlight-color :rgba(0, 0, 0, 0)}

/*
Reset
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Noto Sans KR', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button:focus{outline: none;}
input[type=text]::-ms-clear{
	display: none;
}

/*mark up*/

body{width:100%; height: 100vh; background: #ffffff;}
.wrap{background: repeating-linear-gradient(45deg, #eaf0f9, #eaf0f9 1px, #fff 0, #fff 20px); width:100%; min-height:100vh; max-width:850px; margin: 0 auto; position: relative;}

/*scrollbar*/
::-webkit-scrollbar {
	width: 3px;		/* 세로 스크롤바 넓이 */
	height: 5px;		/* 가로 스크롤바 넓이 */
  }
  ::-webkit-scrollbar-track {
	background-color: lightblue;
  }
  ::-webkit-scrollbar-track-piece {
	background-color:#ececec;		/*스크롤바 배경색 */
  }
  ::-webkit-scrollbar-thumb {
	border-radius: 0px;			/*스크롤바 모서리 라운딩 */
	background-color:#8a8a8a;		/*스크롤바 색 */
  }
  ::-webkit-scrollbar-button {
	background-color: darkblue;
	width: 10px;				/* 가로스크롤바  이동버튼 넓이*/
	height: 10px;				/* 세로스크롤바 이동버튼  넓이*/
  }
  ::-webkit-scrollbar-button:start {
	background-color: red; /* Top, Left 방향의 이동버튼 */
  }
  ::-webkit-scrollbar-button:end {
	background-color: orange; /* Bottom, Right 방향의 이동버튼 */
  }
  ::-webkit-scrollbar-button:vertical:increment {
  }
  ::-webkit-scrollbar-button:vertical:decrement {
  }
  ::-webkit-scrollbar-corner {
	background-color: violet; /* 우측 하단의 코너 부분 */
  }
  ::-webkit-resizer {
	background-color:#aaa;
  }
  
/*nav*/
.nav{background: #dcdddd; height: 9vw; max-height: 76px;}
.nav button{float:left; cursor: pointer;}
.nav button img{vertical-align: top; width:100%;}
.btn_home{width:9.8%;}
.btn1{width:30%; height:9vw; max-height: 76px; font-size:0px; background: url(../images/btn1.png) no-repeat; background-size: 100%;}
.btn1.on{background: url(../images/btn1_on.png) no-repeat; background-size: 100%;}
.btn2{width:30%; height:9vw; max-height: 76px; font-size:0px; background: url(../images/btn2.png) no-repeat; background-size: 100%; margin-right:0.2%}
.btn2.on{background: url(../images/btn2_on.png) no-repeat; background-size: 100%;}
.btn3{width:30%; height:9vw; max-height: 76px; font-size:0px; background: url(../images/btn3.png) no-repeat; background-size: 100%;}
.btn3.on{background: url(../images/btn3_on.png) no-repeat; background-size: 100%;}


/**********cont1*********/
/*title*/
.title{width:80%; display: block; margin: 30px auto;}

/*table*/

.cont1 .title{font-size:1.6em; font-family: 'Noto Sans KR', sans-serif; font-weight: bold; width:100%; text-align: center; color:#006dbb;}
.cont1 .content{width:90%;  margin: 0 auto; border:1px solid #0670bd; border-radius: 20px; overflow: hidden; position: relative;}
.cont1 .content .tab{width:100%; height: 100%;}
.cont1 .content .tab_title{background: #c7e0f5; color:#006dbb; font-family: 'Noto Sans KR', sans-serif; }
.cont1 .content .tab_title > td{width:50%; font-size:1.8em; text-align: center; line-height: 2; font-weight: bold;}
.cont1 .content .tab_title > td:first-child{ border-right:1px solid #0670bd;}
.cont1 .content .tab_cont{position: relative; font-family: 'Noto Sans KR', sans-serif;}
.cont1 .content .tab_cont > td{width:50%; height: 100%; }
.cont1 .content .tab_cont > td:first-child{border-right:1px solid #0670bd;}
.cont1 .content .tab_cont > td > table{width:100%; height: 100%; }
.cont1 .content .tab_cont td table tr td:first-child{background: #f0f1f1; width:32%; font-weight: bold; font-size:1.3em; color:#4b4948; text-align: center; line-height: 4; height: 100%;}
.cont1 .content .tab_cont td table tr td:last-child{background: #ffffff; width:68%; text-align: left; text-indent:10%; font-size:1.2em}
.cont1 .fat{position: absolute; z-index: 1; bottom:1%; right:53%; width:13%}
.cont1 .tab_cont input[type="radio"]{display: none;}
.cont1 .male span{content:' '; background: url(../images/checkbox.png) no-repeat; background-size: 100%; width:11%; height:30px; clear:both; display: inline-block; vertical-align: middle; margin-left:5%;}
.cont1 .male span.on{background:url(../images/checkbox_check.png) no-repeat; background-size: 100%;}
.cont1 .female span{content:' '; background: url(../images/checkbox.png) no-repeat; background-size: 100%; width:11%; height:30px; clear:both; display: inline-block; vertical-align: middle; margin-left:5%;}
.cont1 .female span.on{background:url(../images/checkbox_check.png) no-repeat; background-size: 100%;}

.cont1 .content input[type="text"]{width:80%; background: #eeefef; font-size:1.5em; line-height: 1.8; text-align: center; color:#4b4948; display: block; margin-left:10%; }

/*btn*/
.cont1 .btn_result{width:50%; background: none; margin: 15px auto; display: block; cursor: pointer;}


/*result*/
.cont1 .result{width:90%; margin: 0 auto; padding-bottom:50px}
.cont1 .btn_result img{width:80%;}
.cont1 .result .result_tab{width:100%}
.cont1 .result_tab .result_title td{width:50%; text-align: center; font-size:1.8em; font-weight: bold; color:#006dbb;}
.cont1 .result_tab .result_title td span.left{border-left:1px solid #006dbb; padding-left:5%}
.cont1 .result_tab .result_title td span.right{border-right:1px solid #006dbb; padding-right:5%}
.cont1 .result_txt td div{width:80%; background: #eeefef; margin: 0 auto; border-radius: 40px; margin-top:10px; text-align: center; line-height: 80px; font-size:2.8em; color:#e8404a; box-shadow: inset 2px 2px 2px #94908f;}

.ref{font-size:10px; margin-bottom:30px; display: block; line-height: 3; text-indent:7%;}


/**********cont2*********/
.cont2{display: none; padding-bottom:50px}
/*title*/
.cont2 .title{font-size:1.6em; font-family: 'Noto Sans KR', sans-serif; font-weight: bold; width:100%; text-align: center; color:#006dbb;}
.cont2 .title span{color:#e8404a; display: inline-block; background: #eeefef; padding:8px; border-radius:30px; box-shadow: inset 2px 2px 2px #94908f;}

/*graph*/
.cont2 .graph{background: url(../images/graph.png) no-repeat; background-size: 100%; width:90%; height: 38vw; margin: 0 auto; max-height: 325px; position: relative;}
.cont2 .important{width:4.5%; height:20vw; max-height: 400px; position: absolute; left:0; bottom:13%; display: none; opacity: 0;}
.cont2 .important .box{width:80%; height: 60%; border:1px solid #e8404a; box-sizing: border-box; position: absolute; bottom:0; left:10%;}
.cont2 .graph .arrow{width:100%; position: absolute; bottom:65%; animation: Arrow infinite 1s;}
@keyframes Arrow{
    0{bottom:65%}
    50%{bottom:60%}
    100%{bottom:65%}
}

.cont2 .table_wrap{width:86%; margin:0 auto; height:300px; position: relative;}
.cont2 .table{background: #e5ecf7; width:60%; max-height: 300px;  border-radius: 10px; position: absolute; bottom:0;}
.cont2 .table h2{font-size:1.8em; font-family: 'Noto Sans KR', sans-serif; line-height: 1.2; padding: 4%; color:#006dbb; font-weight: bold; letter-spacing: -1px}
.cont2 .table h2 span{color:#e8404a}
.cont2 .table table{width:90%; margin: 0 auto;}
.cont2 .table table tr td:first-child{color:#006dbb; font-size:1.5em; line-height: 2.5; width:40%; letter-spacing: -1px}
.cont2 .table table tr td:last-child span{color:#e8404a; font-size:1.5em; width:80%; background: #ffffff; display: inline-block; line-height: 1.8; border-radius: 1.5em; text-align: center; box-shadow: inset 2px 2px 2px #94908f;}
.cont2 .example{background: #eeefef;width:38%; right:0; bottom:0; position: absolute; border-radius: 10px; padding:2% 0}
.cont2 .example h2{font-size:1em; font-family: 'Noto Sans KR', sans-serif; line-height: 1.2; padding: 4%; color:#4b4948; font-weight: bold; letter-spacing: -1px; text-indent: 4%}
.cont2 .example table{width:90%; margin: 0 auto;}
.cont2 .example table tr td:first-child{color:#4b4948; font-size:0.9em; line-height: 2; width:45%; letter-spacing: -1px; text-indent: 10%}
.cont2 .example table tr td:last-child span{color:#4b4948; font-size:0.9em; width:80%; background: #cdcece; display: inline-block; line-height: 1.8; border-radius: 1.5em; text-align: center; box-shadow: inset 2px 2px 2px #94908f;}



/**********cont3*********/
.cont3{display: none; padding-bottom:30px}
.cont3 img{width:90%; margin:30px auto; display: block;}

@media screen and (max-width:740px){
    .cont1 .content .tab_cont td table tr td:first-child{font-size:.8em;}
    .cont2 .title{font-size:1.2em;}
    .cont2 .table h2{font-size:1.2em;}
    .cont2 .table table tr td:first-child{ font-size:1em;}
.cont2 .table table tr td:last-child span{font-size:1em;}
    .cont2 .table_wrap{height: 200px}
}

@media screen and (max-width:360px){
    .cont2 .table h2{font-size:0.8em;}
    .cont2 .table table tr td:first-child{line-height: 1;}
}












