@charset "utf-8";
html,body{margin: 0; padding: 0;}
.container{position:relative; width: 1024px; max-width: 100%; min-height: 768px; overflow: hidden; margin: 0 auto;}
.absolute{position: absolute; top: 0; left: 0;}
img{max-width: 1024px;}
.guide{z-index: 99; opacity: 0.3;}
.title{position: absolute; top: 0; left: 0; width: 0; overflow: hidden;}
.title img{width: 1024px;}
.manLAf, .manRAf{opacity: 0;}
.effect1{opacity: 0;}
.effect2{opacity: 0;}