@charset "utf-8";
*{-webkit-tap-highlight-color :rgba(0, 0, 0, 0)}
*{margin: 0; padding: 0; text-decoration: none; list-style: none;}
button{border:none; background: none}
button:focus{outline: none}
.wrap{position:relative; width: 1024px; height: 768px; overflow: hidden; margin: 0 auto; background: url(../images/bg.jpg) no-repeat; background-size: 100%;}

.top{width:100%; position: absolute; top:0; left:0; z-index:3;}

.footer{width:100%; position: absolute; bottom:0; left:0; height: 82px; background: #0e6d6b; z-index:3;}
.footer button{width:146px; height: 35px; position: absolute; bottom:23px; cursor: pointer;}
.footer .btn_home{left:43px;}
.footer .btn_home.off{background: url(../images/btn_home.png) no-repeat; background-size: 100%;}
.footer .btn_home.on{background: url(../images/btn_home_on.png) no-repeat; background-size: 100%;}
.footer .btn_pi{right:326px;}
.footer .btn_pi.off{background: url(../images/btn_pi.png) no-repeat; background-size: 100%;}
.footer .btn_pi.on{background: url(../images/btn_pi_on.png) no-repeat; background-size: 100%;}
.footer .btn_fn{right:176px;}
.footer .btn_fn.off{background: url(../images/btn_fn.png) no-repeat; background-size: 100%;}
.footer .btn_fn.on{background: url(../images/btn_fn_on.png) no-repeat; background-size: 100%;}
.footer .btn_ref{right:25px;}
.footer .btn_ref.off{background: url(../images/btn_ref.png) no-repeat; background-size: 100%;}
.footer .btn_ref.on{background: url(../images/btn_ref_on.png) no-repeat; background-size: 100%;}

.content .slide img{width:100%; position: absolute; top:0; left:0;}
.content .slide .main{background: url(../images/main_page.jpg) no-repeat; background-size: 100%; width:1024px; height: 768px; position: absolute; top:0; left:0; opacity: 0;}
.content .slide .main .mouseclick{width:75px; position: absolute; top:530px; left:585px; z-index: 4; display: none;}
.content .slide .main .club_on{width:150px; position: absolute; top:328px; left:520px; opacity: 0; cursor: pointer;}
.map{width:247px; position: absolute; top:87px; left:0; z-index: 5;}

.ending{display: none;}
.golf_club{width:334px; position: absolute; right:64px; top:77px; animation:2s golf 1s forwards;}
.ballbox{width:43px; position: absolute; top:500px; right:330px; animation:6s ballmove 2s forwards;}
.ball{width:43px; position: absolute; top:0; left:0; animation:3s ballAni 2s infinite linear;}
@keyframes golf{
    0%{transform: rotateX(0);}
    30%{transform: rotateX(-40deg);}
    100%{transform: rotateX(0);}
}
@keyframes ballAni{
    from{transform: rotate(0);}
    to{transform: rotate(-360deg);}
}
@keyframes ballmove{
    0%{right:330px; top:500px;}
    60%{opacity: 1;}
    90%{opacity: 0;}
    100%{right:700px; top:600px; opacity: 0;}
}
.shadow{width:110px; position: absolute; top:30px; left:0;}
.success{width:565px; position: absolute; top:246px; left:230px; transform: scale(0); animation:1s Success 7s forwards;}
@keyframes Success{
    from{transform: scale(0);}
    to{transform: scale(1);}
}
